<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            Nombramiento
          </div>
          <div class="card-body">
            <nombramiento-form :horas="horas" @guardar="guardar"></nombramiento-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import NombramientoForm from "./components/NombramientoFormComponent"

  const getData = (callback) => {
    axios.get(route("endpoint.nombramiento.getData"))
        .then(response => {
          callback(null, response.data)
        })
        .catch(e => {
          callback(e, e.response.data)
        })
  };

  export default {
    components: { NombramientoForm },
    data() {
      return {
        carreras: null,
        opciones: null,
        horas: null,
        error: ""
      }
    },
    beforeRouteEnter(to, from, next) {
      getData((err, data) => {
        next(vm => vm.setData(err, data));
      });
    },
    // when route changes and this component is already rendered,
    // the logic will be slightly different.
    beforeRouteUpdate(to, from, next) {
      this.horas = this.carreras = this.opciones = null;
      getData((err, data) => {
        this.setData(err, data);
        next();
      });
    },
    methods: {
      setData(err, data) {
        if (err) {
          this.error = err.toString();
        } else {
          this.carreras = data.carreras;
          this.opciones = data.opciones;
          this.horas = data.horas;
        }
      },
      guardar(nombramineto) {
        axios.post(route("endpoint.nombramiento.store"), {
          "nombramiento": nombramineto
        })
            .then(response => {
              swal({
                type: "success",
                title: "El nombramiento se ha guardado correctamente",
              }).then(result => {
                if (result) {
                  this.$router.push({
                    name: "nombramientos.index"
                  })
                }
              });
            })
            .catch(e => {
              console.log(e.response)
              let text = "Algo ha salido mal, intenta de nuevo"

              if (e.response.status === 422) {
                let { data } = e.response
                text = data.meta.errors[0]
              }

              swal({
                type: "error",
                title: "Oops...",
                text
              })
            })
      }
    }
  }
</script>

<style scoped>

</style>
