<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <template v-if="hasRole(['titulacion'])">
              Solicitudes
              <router-link :to="{name: 'nombramientos.create'}" class="btn btn-primary float-right">Iniciar trámite</router-link>
            </template>
            <template v-else>
              Nombramientos
            </template>
          </div>
          <div class="card-body py-0 px-0">
            <nombramiento-list :nombramientos="nombramientos"></nombramiento-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import NombramientoList from "./components/NombramientoList";

  const getNombramientos = (term, callback) => {
    const params = { term };
    axios.get(route("endpoint.nombramientos"), { params })
        .then(response => {
          callback(null, response.data);
        }).catch(error => {
      callback(error, error.response.data);
    });
  };

    export default {
        components: {NombramientoList},
        data() {
            return {
                nombramientos: null,
                error: null,
            }
        },
        beforeRouteEnter(to, from, next) {
            getNombramientos(null, (err, post) => {
                next(vm => vm.setData(err, post))
            })
        },
        beforeRouteUpdate(to, from, next) {
            this.nombramientos = null;
            getNombramientos(null, (err, post) => {
                this.setData(err, post);
                next()
            })
        },
        methods: {
            hasRole(r) {
              let result = _.intersection(window.Laravel.roles, r);
                return result.length;
            },
            setData(err, data) {
                if (err) {
                    this.error = err.toString()
                } else {
                    this.nombramientos = data.nombramientos
                }
            }
        }
    }
</script>

<style scoped>

</style>
