@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
