<template>
  <form @submit.prevent="submit">
    <div class="row">
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Número de control</label>
        <input
            type="text"
            class="form-control"
            v-model="form.numero_control"
            name="numero_control"
            v-validate="'required|min:8|max:10'"
        >
        <ErrorField field="numero_control"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Nombre</label>
        <input
            type="text"
            class="form-control"
            v-model="form.nombre"
            name="nombre"
            v-validate="'required'"
        >
        <ErrorField field="nombre"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Apellidos</label>
        <input
            type="text"
            class="form-control"
            v-model="form.apellido"
            name="apellido"
            v-validate="'required'"
        >
        <ErrorField field="apellido"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Sexo</label>
        <select
            class="form-control"
            v-model="form.sexo"
            name="sexo"
            v-validate="'required'"
        >
          <option value="">Seleccionar....</option>
          <template v-for="gender in genders">
            <option :value="gender">{{ gender }}</option>
          </template>
        </select>
        <ErrorField field="sexo"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Año de ingreso</label>
        <input
            type="text"
            class="form-control"
            v-model="form.anio_ingreso"
            name="anio_ingreso"
            v-validate="'required|digits:4'"
        >
        <ErrorField field="anio_ingreso"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Periodo de ingreso</label>
        <input
            type="text"
            class="form-control"
            v-model="form.periodo_ingreso"
            name="periodo_ingreso"
            v-validate="'required|digits:1|between:1,3'"
        >
        <ErrorField field="periodo_ingreso"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Carrera</label>
        <select
            class="form-control"
            v-model="form.carrera_id"
            name="carrera_id"
            v-validate="'required'"
        >
          <option value="">Selecciona....</option>
          <template v-for="carrera in carreras">
            <option :value="carrera.id">{{ carrera.descripcion }} - {{ carrera.clave_oficial }}</option>
          </template>
        </select>
        <ErrorField field="carrera_id"/>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <SubmitButton :loading="sending"/>
        <InertiaLink :href="$route('alumnos.index')" class="btn btn-light ml-2">Regresar</InertiaLink>
      </div>
    </div>
  </form>
</template>

<script>
  import LaravelErrorField from "./common/LaravelErrorField"
  import ErrorField from "./common/ErrorField"
  import SubmitButton from "./common/SubmitButton"

  export default {
    name: "AlumnoForm",
    components: { SubmitButton, ErrorField, LaravelErrorField },
    props: {
      carreras: Array,
      alumno: Object
    },
    data() {
      return {
        sending: false,
        genders: ["M", "F"],
        form: {
          numero_control: null,
          nombre: null,
          apellido: null,
          sexo: "",
          anio_ingreso: null,
          periodo_ingreso: null,
          carrera_id: "",
        },
        alumnoForm: this.$inertia.form({
          numero_control: null,
          nombre: null,
          apellido: null,
          sexo: "",
          anio_ingreso: null,
          periodo_ingreso: null,
          carrera_id: "",
        }),
      }
    },
    mounted() {
      this.form = Object.assign({}, this.alumno)
    },
    methods: {
      async submit() {
        let isValid = await this.$validator.validate()

        if (isValid) {
          this.sending = true
          this.$emit("submit", this.form)
        }

      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
