<template>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-2 col-md-12 mb-md-2 col-lg-4 align-self-center">
        <div
            class="d-flex align-self-center"
            style="font-size: 14px"
        >
          <div class="">
            <div class="font-weight-bold">
              {{ solicitud.alumno.nombre_apellido }}
            </div>
            <div class="text-muted">
              <strong>Número de control: </strong> {{ solicitud.alumno.numero_control }}
            </div>
            <div class="text-muted">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 mb-md-0 col-lg-6">
        <div
            class="d-flex align-self-center"
            style="font-size: 14px"
        >
          <div class="">
            <div class="font-weight-bold">
              {{ solicitud.alumno.carrera.descripcion }}
            </div>
            <div class="text-muted">
              <strong>Fecha: </strong> {{ solicitud.created_at|formatDate }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-3 mb-md-0 offset-md-3 col-lg-2 offset-lg-0 align-self-center text-center">
        <span
            class="badge badge-primary"
        >{{ solicitud.estatus }}</span>
        <br>
        <span>
          <a
              href="#"
              @click="showObservaciones"
          >Ver observaciones</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p
            class=""
            style="margin-bottom: 0"
        >FINANCIEROS</p>
        <NoAdeudoItemStatus :status="solicitud.adeuda_financieros"/>
      </div>
      <div class="col">
        <p
            class=""
            style="margin-bottom: 0"
        >EXTRAESCOLARES</p>
        <NoAdeudoItemStatus :status="solicitud.adeuda_extraescolares"/>
      </div>
      <div class="col">
        <p
            class=""
            style="margin-bottom: 0"
        >DIVISIÓN DE ESTUDIOS</p>
        <NoAdeudoItemStatus :status="solicitud.adeuda_divisionestudios"/>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <p
            class=""
            style="margin-bottom: 0"
        >GESTIÓN Y VINCULACIÓN</p>
        <NoAdeudoItemStatus :status="solicitud.adeuda_gestionvinculacion"/>
      </div>
      <div class="col">
        <p
            class=""
            style="margin-bottom: 0"
        >DEPTO. ACADÉMICO</p>
        <NoAdeudoItemStatus :status="solicitud.adeuda_deptoacademico"/>
      </div>
      <div class="col">
        <p
            class=""
            style="margin-bottom: 0"
        >BIBLIOTECA</p>
        <NoAdeudoItemStatus :status="solicitud.adeuda_biblioteca"/>
      </div>
    </div>
  </div>
</template>

<script>
  import NoAdeudoItemStatus from "./NoAdeudoItemStatus"

  export default {
    name: "NoAdeudoListItem",
    components: { NoAdeudoItemStatus },
    props: {
      solicitud: Object
    },
    data() {
      return {
        selectedItem: {},
      }
    },
    methods: {
      showObservaciones() {
        this.$emit('showObservaciones', this.solicitud)
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
