<template>
  <span
      class="badge"
      :class="badgeType"
  >{{ statusTitle }}</span>
</template>

<script>
  export default {
    name: "NoAdeudoItemStatus",
    components: {},
    props: {
      status
    },
    data() {
      return {}
    },
    methods: {},
    computed: {
      badgeType() {
        return {
          "badge-warning": this.status === null,
          "badge-danger": this.status === 1,
          "badge-success": this.status === 0
        }
      },
      statusTitle() {
        switch (this.status) {
          case null:
            return "No Actualizado"
          case 1:
            return "Si"
          case 0:
            return "No"
        }
      }
    },
    watch: {}
  }
</script>

<style scoped>

</style>
