<template>
  <div class="input-group">
    <input
        type="text"
        class="form-control"
        placeholder="Observaciones"
        v-model="observacion"
    >
    <div class="input-group-append">
      <button
          class="btn btn-success"
          type="button"
          @click="updateAdeudo"
          :disabled="sending"
      >
        <template v-if="sending">
          <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
          ></span>
        </template>
        <template v-else>
          <i
              class="fa fa-floppy-o"
              aria-hidden="true"
          ></i>
        </template>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "NoAdeudoObservacion",
    components: {},
    props: {
      solicitud: Object,
      column: String,
    },
    data() {
      return {
        sending: false,
        observacion: ""
      }
    },
    mounted() {
      this.observacion = this.solicitud[this.observacionColumn]
    },
    methods: {
      updateAdeudo() {
        this.$inertia.post(this.$route("solicitudes.no.adeudos.update.observaciones", this.solicitud.id), {
          _method: "PATCH",
          column: this.observacionColumn,
          value: this.observacion
        }, {
          onStart: () => this.sending = true,
          onFinish: () => this.sending = false,
        })
      }
    },
    computed: {
      observacionColumn() {
        let choices = this.column.split("_")
        return `observacion_${ choices[1] }`
      }
    },
    watch: {}
  }
</script>

<style scoped>

</style>
