<template>
  <div class="item-container">
    <span class="item-text">{{ text }}</span>
  </div>
</template>

<script>
  export default {
    name: "VariableListItem",
    components: {},
    props: {
      text: { required: true, type: String },
      value: { required: true, type: String }
    },
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style lang="scss" scoped>
.item-container{
  border: 1px solid red;
  border-radius: 5px;
  padding: .3rem;
  .item-text{
    font-size: 12px;
  }
}
</style>
