<template>
  <ul class="list-unstyled">
    <li v-for="variable in variables" :key="variable.value">
      <VariableListItem
          :text="variable.text"
          :value="variable.value"
      />
    </li>
  </ul>
</template>

<script>
  import VariableListItem from "./VariableListItem"

  export default {
    name: "VariablesList",
    components: { VariableListItem },
    props: {},
    data() {
      return {
        variables: [
          { text: "Nombre alumno", value: "nombreAlumno" },
          { text: "Número de control", value: "numeroControl" },
          { text: "Nombre carrera", value: "carrera" },
        ]
      }
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style lang="scss" scoped>
  ul {
    display: flex;
    li {
      border: 1px solid red;
      padding: .5rem;
      margin-right: .5rem;
    }
  }
</style>
