<template>
  <div
      class="btn-group"
      role="group"
      aria-label="Basic example"
  >
    <button
        type="button"
        class="btn btn-secondary"
        :class="yesButtonClass"
        :disabled="sending"
        @click="yesClick"
    >
      <template v-if="sending">
        <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
        ></span>
      </template>
      <template v-else>
        Si
      </template>
    </button>
    <button
        type="button"
        class="btn btn-secondary"
        :class="noButtonClass"
        :disabled="sending"
        @click="noClick"
    >
      <template v-if="sending">
        <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
        ></span>
      </template>
      <template v-else>
        No
      </template>
    </button>
  </div>
</template>

<script>
  export default {
    name: "YesNoAdeudoButton",
    components: {},
    props: {
      solicitud: Object,
      column: String,
    },
    data() {
      return {
        sending: false
      }
    },
    methods: {
      async yesClick() {
        await this.$inertia.post(this.$route("solicitudes.no.adeudos.update.field", this.solicitud.id), { _method: "PATCH", column: this.column, value: 1 }, {
          onStart: () => this.sending = true,
          onFinish: () => this.sending = false,
        })
      },
      async noClick() {
        await this.$inertia.post(this.$route("solicitudes.no.adeudos.update.field", this.solicitud.id), { _method: "PATCH", column: this.column, value: 0 }, {
          onStart: () => this.sending = true,
          onFinish: () => this.sending = false,
        })
      }
    },
    computed: {
      yesButtonClass() {
        return {
          "btn-danger": this.solicitud[this.column] === 1,
          "btn-secondary": this.solicitud[this.column] === 0 || this.solicitud[this.column] === null,
        }
      },
      noButtonClass() {
        return {
          "btn-success": this.solicitud[this.column] === 0,
          "btn-secondary": this.solicitud[this.column] === 1 || this.solicitud[this.column] === null,
        }
      },
    },
    watch: {}
  }
</script>

<style scoped>

</style>
