<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h1 class="module-title">Maestros</h1>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <form>
          <div class="form-row">
            <div class="col">
              <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar maestro"
                  v-model="search.search"
              >
            </div>
          </div>
        </form>
      </div>
      <div class="col">
        <button
            class="btn btn-primary float-right"
            @click="createItem"
        >Agregar
        </button>
        <modal
            name="create-maestro"
            :adaptive="true"
            :height="'auto'"
            @before-close="beforeClose"
        >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ formTitle }}</h5>
              <MaestroForm
                  :maestro="editedItem"
                  :loading="loading"
                  @close="$modal.hide('create-maestro')"
                  @submit="submit"
              />
            </div>
          </div>
        </modal>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th width="20%">Nombre</th>
                  <th width="20%">Especialidad</th>
                  <th width="10%">Cédula profesional</th>
                  <th width="10%">Email</th>
                  <th width="10%">Teléfono</th>
                  <th width="1%">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="maestro in maestros">
                  <tr>
                    <td>{{ maestro.nombre_completo }}</td>
                    <td>{{ maestro.especialidad }}</td>
                    <td>{{ maestro.cedula_profesional }}</td>
                    <td>{{ maestro.email }}</td>
                    <td>{{ maestro.telefono }}</td>
                    <td>
                      <button
                          class="btn btn-primary"
                          @click="editItem(maestro)"
                      >Editar
                      </button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MaestroForm from "../../components/forms/MaestroForm"
  import pickBy from "lodash/pickBy"
  import throttle from "lodash/throttle"

  export default {
    name: "Index",
    components: { MaestroForm },
    props: {
      maestros: Array,
      filters: [Array, Object],
    },
    data() {
      return {
        search: {
          search: this.filters.search
        },
        loading: false,
        defaultItem: {
          nombre_completo: null,
          especialidad: null,
          cedula_profesional: null,
          email: null,
          telefono: null,
        },
        editedItem: {
          nombre_completo: null,
          especialidad: null,
          cedula_profesional: null,
          email: null,
          telefono: null,
        },
        editedIndex: -1,
      }
    },
    methods: {
      editItem(item) {
        this.editedIndex = this.maestros.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.$modal.show("create-maestro")
      },
      createItem() {
        this.$modal.show("create-maestro")
      },
      beforeClose() {
        this.close()
      },
      close() {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      },
      async submit() {
        this.loading = true
        if (this.editedIndex === -1) {
          await this.$inertia.post(this.$route("maestros.store"), this.editedItem)
        } else {
          await this.$inertia.put(this.$route("maestros.update", this.editedItem.id), this.editedItem)
        }
        this.loading = false
        this.$modal.hide("create-maestro")
      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? "Nuevo" : "Editar"
      }
    },
    watch: {
      search: {
        handler: throttle(function () {
          let query = pickBy(this.search)
          this.$inertia.get(this.$route("maestros.index", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true,
      },
    }
  }
</script>

<style scoped>

</style>
