<template>
  <div class="row mb-3">
    <div class="col-8">
      <div v-for="cursada in asignaturaConvalidada.asignaturas_cursadas" class="row mb-2">
        <div class="col align-self-center">
          {{ cursada.nombre_materia }}
        </div>
        <div class="col">
          <div class="form-group mb-0">
            <CalificacionForm :asignatura="cursada" :solicitud="solicitud"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 align-self-center">
      {{ asignaturaConvalidada.asignatura_convalidada.nombre_materia }}
    </div>
  </div>
</template>

<script>
  import CalificacionForm from "./CalificacionForm"

  export default {
    name: "AsignaturaConvalidadaItem",
    components: { CalificacionForm },
    props: {
      asignaturaConvalidada: Object,
      solicitud: Object,
    },
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {
      "form.asignaturasCursadas"(val) {
        console.log(val)
      }
    }
  }
</script>

<style scoped>

</style>
