<template>
  <form class="form-inline" @submit.prevent="save">
    <input v-model="form.calificacion"
           v-validate="'required|between:0,100'"
           :class="errors.has('calificacion') ? 'is-invalid':''"
           class="form-control mr-3 text-right"
           name="calificacion"
           placeholder="Calificacion"
           type="text"
    >
    <button class="btn btn-success">
      <template v-if="!sending">
        <i aria-hidden="true" class="fa fa-floppy-o"></i>
      </template>
      <template v-else>
        <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
        <span class="sr-only">Loading...</span>
      </template>
    </button>
  </form>
</template>

<script>
  import axios from "axios"
  import Noty from "noty";

  export default {
    name: "CalificacionForm",
    components: {},
    props: {
      solicitud: Object,
      asignatura: Object,
      populateWith: {
        type: Object,
        default: () => ({ empty: true })
      }
    },
    created() {
      if (this.solicitud.detalles.length > 0) {
        let edit = this.solicitud.detalles.find(el => {
          return el.asignatura_id === this.asignatura.id
        })

        if (edit) {
          this.form.calificacion = edit.calificacion
        }
      }
    },
    data() {
      return {
        sending: false,
        form: {
          calificacion: 0,
          asignatura_id: this.asignatura.id
        }
      }
    },
    methods: {
      async save() {
        let isValid = this.$validator.validate()
        if (isValid) {
          this.sending = true;
          try {
            await axios.post(this.$route("convalidaciones::solicitudes.calificaion.store", this.solicitud.id), this.form)
            new Noty({
              type: "success",
              theme: "relax",
              text: "La calificación se guardó correctamente",
              timeout: 1500
            }).show();
          } catch (e) {
            new Noty({
              theme: "relax",
              text: "Lo sentimos, ha ocurrido un error",
              type: "error"
            }).show();
          } finally {
            this.sending = false
          }
        }
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
