<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Carreras convalidadas</div>
          <div class="card-body">
            <form @submit.prevent="createNewConv">
              <div v-if="lerrors" class="row">
                <div class="col">
                  <div class="alert alert-danger" role="alert">
                    <div v-for="(v, k) in lerrors" :key="k">
                      <p v-for="error in v" :key="error" class="mb-2">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input v-model="form.liquidadas" class="form-check-input" type="checkbox">
                      Mostrar carreras liquidadas
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm col-md-4 mb-3 mb-sm-0">
                  <select
                      id="carrera_origen_id"
                      v-model="convForm.carrera_origen_id"
                      v-validate="'required'"
                      :class="errors.has('carrera_origen_id') ? 'is-invalid' : ''"
                      class="form-control"
                      name="carrera_origen_id"
                  >
                    <option value="">Carrera origen...</option>
                    <option v-for="carrera in carreras" :key="carrera.id" :value="carrera.id">{{
                        `${ carrera.estado.charAt(0) }R-${ carrera.reticula } ${ carrera.clave_nombre }`
                      }}
                    </option>
                  </select>
                </div>
                <div class="col-sm col-md-4 mb-3 mb-sm-0">
                  <select
                      id="carrera_destino_id"
                      v-model="convForm.carrera_destino_id"
                      v-validate="'required'"
                      :class="errors.has('carrera_destino_id') ? 'is-invalid' : ''"
                      class="form-control"
                      name="carrera_destino_id"
                  >
                    <option value="">Carrera destino...</option>
                    <option v-for="carrera in carrerasDestino" :key="carrera.id" :value="carrera.id">{{ carrera.clave_nombre }}</option>
                  </select>
                </div>
                <div class="col-sm col-md-4 mb-3 mb-sm-0">
                  <button :disabled="sending" class="btn btn-success btn-sm-block" @click="createNewConv">
                    <template v-if="sending">
                      <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                    </template>
                    <template v-else>
                      Guardar
                    </template>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="10%">
                    <button class="btn btn-outline-primary" @click="reset">Limpiar</button>
                  </th>
                  <th width="45%">
                    <input v-model="form.carrera_origen" autofocus class="form-control" placeholder="Buscar carrera origen" type="text">
                  </th>
                  <th width="45%">
                    <input v-model="form.carrera_destino" class="form-control" placeholder="Buscar carrera destino" type="text">
                  </th>
                </tr>
                <tr>
                  <th>#</th>
                  <th>Carrera Origen</th>
                  <th>Carrera Destino</th>
                  <th>Descargar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="conv in convalidaciones">
                  <td scope="row">{{ conv.id }}</td>
                  <td>
                    <a :href="`/convalidaciones/app/carreras/${conv.id}/asignaturas`">
                      {{ `${ conv.carrera_origen.estado.charAt(0) }R-${ conv.carrera_origen.reticula } ${ conv.carrera_origen.clave_nombre }` }}
                    </a>
                  </td>
                  <td>{{ conv.carrera_destino.clave_nombre }}</td>
                  <td>
                    <a :href="`/convalidaciones/analisis?carrera_origen=${conv.id}`">Descargar</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import mapValues from "lodash/mapValues"
  import pickBy from "lodash/pickBy"
  import throttle from "lodash/throttle"
  import axios from "axios"

  export default {
    name: "Index",
    components: {},
    props: {
      convalidaciones: Array,
      filters: Object,
      carreras: Array,
      carrerasDestino: Array
    },
    data() {
      return {
        form: {
          carrera_destino: this.filters.carrera_destino,
          carrera_origen: this.filters.carrera_origen,
          liquidadas: this.filters.liquidadas
        },
        convForm: {
          carrera_origen_id: "",
          carrera_destino_id: "",
        },
        sending: false,
        lerrors: null
      }
    },
    computed: {},
    watch: {
      form: {
        handler: throttle(function () {
          let query = pickBy(this.form)
          this.$inertia.replace(this.$route("convalidaciones::carreras.index", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true,
      },
      "convForm.carrera_origen_id": {
        handler: function (id) {
          let carrera = this.carreras.find(el => {
            return el.id === id
          })
          if (carrera) {
            this.form.carrera_origen = carrera.descripcion
          }
        }
      },
      "convForm.carrera_destino_id": {
        handler: function (id) {
          let carrera = this.carrerasDestino.find(el => {
            return el.id === id
          })
          if (carrera) {
            this.form.carrera_destino = carrera.descripcion
          }
        }
      }
    },
    methods: {
      async createNewConv() {
        let isValid = await this.$validator.validate()
        if (isValid) {
          this.sending = true
          try {
            await axios.post(this.$route("convalidaciones::api::convalidaciones.carreras.store"), this.convForm)
            this.lerrors = null

            let query = pickBy(this.form)
            await this.$inertia.reload(this.$route("convalidaciones::carreras.index", Object.keys(query).length ? query : { remember: "forget" }))

            Swal({
              type: "success",
              text: "La convalidación se guardó correctamente",
            })

            this.convForm = mapValues(this.convForm, () => "")
            await this.$validator.reset()
          } catch (e) {
            let { response: { data, status } } = e
            if (status === 422) {
              this.lerrors = data.errors
            }
          } finally {
            this.sending = false
          }
        }
      },
      reset() {
        this.form = mapValues(this.form, () => null)
      },
    },
  }
</script>

<style scoped>
  @media all and (max-width: 575px) {
    .btn-sm-block {
      width: 100%;
      display: block;
    }
  }
</style>
