<template>
  <span>{{ span }}</span>
</template>

<script>
  export default {
    name: "GeneracionColumn",
    components: {},
    props: {
      generaciones: Array
    },
    data() {
      return {}
    },
    methods: {},
    computed: {
      span() {
        return this.generaciones.map(function (elem) {
          return `${ elem.inicio } - ${ elem.fin }`;
        }).join(", ");
      }
    },
    watch: {}
  }
</script>

<style scoped>

</style>
