<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Importar
          </div>
          <div class="card-body">
            <form action="" enctype="multipart/form-data" @submit.prevent="adjuntar">
              <div class="form-group">
                <label for="import_file">Importar</label>
                <input id="import_file"
                       ref="file"
                       accept=".xls"
                       aria-describedby="fileHelpId"
                       class="form-control-file"
                       name="import_file"
                       type="file"
                       v-on:change="handleFileUpload"
                >
                <small id="fileHelpId" class="form-text text-muted">Adjuntar archivo .xls</small>
              </div>
              <div v-if="command !== ''" class="alert alert-success" role="alert">
                <p class="mb-0 d-inline-block">Ejecute en consola lo siguiente:</p>
                <div class="input-group">
                  <input id="copy-command" v-model="command" class="form-control" type="text">
                  <div class="input-group-append">
                    <button class="btn btn-success btn-copy" data-clipboard-target="#copy-command" type="button">
                      <i aria-hidden="true" class="fa fa-clipboard"></i>
                    </button>
                  </div>
                </div>
              </div>
              <button class="btn btn-success">Adjuntar</button>
              <router-link :to="{name: 'asignaturas-index'}">
                <button class="btn btn-light">Regresar</button>
              </router-link>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Import",
    components: {},
    props: {},
    data() {
      return {
        import_file: "",
        command: ""
      }
    },
    methods: {
      adjuntar() {
        let formData = new FormData();
        formData.append("import_file", this.import_file);
        axios.post(route("convalidaciones::api::asignaturas.importar"),
            formData,
            {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            }
        )
            .then(res => {
              swal(
                  "",
                  "El archivo se adjuntó correctamente",
                  "success"
              )
              let { data } = res
              this.command = data.command
            })
            .catch(err => {
              swal(
                  "Error",
                  "Lo sentimos, algo ha salido mal",
                  "error"
              )
            });
      },
      handleFileUpload() {
        this.import_file = this.$refs.file.files[0];
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
