<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Asignaturas
          </div>
          <div class="card-body">
            <div v-if="loading" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div v-else>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Carrera</th>
                      <th>Clave</th>
                      <th>Asignatura</th>
                      <th>Créditos</th>
                      <th>Semestre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="asignatura in asignaturas">
                      <td scope="row">{{ asignatura.clave_oficial }} / {{ asignatura.descripcion }}</td>
                      <td>{{ asignatura.clave_materia }}</td>
                      <td>{{ asignatura.nombre_materia }}</td>
                      <td>{{ asignatura.creditos }}</td>
                      <td>{{ asignatura.semestre }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item " style="cursor: pointer"><a class="page-link" @click="prevPage">Anterior</a></li>
                    <li class="page-item " style="cursor: pointer"><a class="page-link" @click="nextPage">Siguiente</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Index",
    components: {},
    props: {},
    data() {
      return {
        asignaturas: [],
        pagination: {},
        loading: false,
        page: 1
      }
    },
    created() {
      this.getData();
    },
    methods: {
      async getData() {
        try {
          this.loading = true
          let response = await axios.get(route("convalidaciones::api::asignaturas.index"), {
            params: {
              page: this.page
            }
          })
          this.asignaturas = response.data.asignaturas.data
          this.pagination = response.data.asignaturas
        } catch (e) {
        } finally {
          this.loading = false
        }
      },
      prevPage() {
        if (this.pagination.current_page !== 1) {
          this.page = this.pagination.current_page - 1
        } else {
          this.page = 1
        }
        this.getData()
      },
      nextPage() {
        if (this.pagination.last_page !== this.page) {
          this.page = this.pagination.current_page + 1
        } else {
          this.page = this.pagination.last_page
        }
        this.getData()
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
