<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="col">
        <label for="">Nombre</label>
        <input
            type="text"
            class="form-control"
            v-model="maestro.nombre_completo"
            name="nombre_completo"
            v-validate="'required'"
        >
        <ErrorField :field="'nombre_completo'"/>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="">Especialidad</label>
        <input
            type="text"
            class="form-control"
            v-model="maestro.especialidad"
            name="especialidad"
            v-validate="'required'"
        >
        <ErrorField :field="'especialidad'"/>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="cedula_profesional">Cédula profesional</label>
        <input
            type="text"
            class="form-control"
            v-model="maestro.cedula_profesional"
            v-validate="'required'"
            name="cedula_profesional"
            id="cedula_profesional"
        >
        <ErrorField :field="'cedula_profesional'"/>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="">Email</label>
        <input
            type="email"
            class="form-control"
            v-model="maestro.email"
            v-validate="'email'"
            name="email"
        >
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="telefono">Telefono</label>
        <input
            type="text"
            class="form-control"
            v-model="maestro.telefono"
            name="telefono"
            id="telefono"
        >
      </div>
    </div>
    <div class="form-row">
      <div class="col mt-4">
        <SubmitButton :loading="loading" class="float-right"></SubmitButton>
        <button
            type="button"
            class="btn btn-secondary float-right mr-2"
            @click="$emit('close')"
        >Cancelar
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  import ErrorField from "../common/ErrorField"
  import SubmitButton from "../common/SubmitButton"

  export default {
    name: "MaestroForm",
    components: { SubmitButton, ErrorField },
    props: {
      maestro: Object,
      loading: Boolean
    },
    data() {
      return {}
    },
    methods: {
      async submit() {
        let isValid = await this.$validator.validateAll()
        if (isValid) {
          this.$emit("submit")
        }
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
