<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Crear alumno
          </div>
          <div class="card-body">
            <AlumnoForm
                :alumno="alumno"
                :carreras="carreras"
                @submit="submit"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AlumnoForm from "../../components/AlumnoForm"

  export default {
    name: "Create",
    components: { AlumnoForm },
    props: {
      carreras: Array,
    },
    data() {
      return {
        alumno: {
          numero_control: null,
          nombre: null,
          apellido: null,
          sexo: "",
          anio_ingreso: null,
          periodo_ingreso: null,
          carrera_id: "",
        }
      }
    },
    methods: {
      submit(form){
        this.$inertia.post(this.$route("alumnos.store"), form)
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
