<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Alumnos
          </div>
          <div class="card-body">
            <form class="form-inline">
              <input
                  type="text"
                  name="search"
                  id="search"
                  v-model="form.search"
                  class="form-control mr-2 w-50"
                  placeholder="Ingrese nombre, apellidos o número de control"
              >
              <button
                  type="button"
                  class="btn btn-light mr-2"
              >Limpiar
              </button>
              <InertiaLink
                  :href="$route('alumnos.create')"
                  class="btn btn-primary"
              >Nuevo
              </InertiaLink>
            </form>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>Núm. Control</th>
                  <th>Alumno</th>
                  <th>Carrera</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="alumno in alumnos">
                  <tr>
                    <td>{{ alumno.numero_control }}</td>
                    <td>{{ alumno.nombre_apellido }}</td>
                    <td>{{ alumno.carrera.descripcion }}</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import throttle from "lodash/throttle"
  import pickBy from "lodash/pickBy"

  export default {
    name: "Index",
    components: {},
    props: {
      alumnos: Array,
    },
    data() {
      return {
        form: {
          search: "",
        }
      }
    },
    methods: {},
    computed: {},
    watch: {
      form: {
        handler: throttle(async function () {
          let query = pickBy(this.form)
          await this.$inertia.replace(this.$route("alumnos.index", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true,
      },
    }
  }
</script>

<style scoped>

</style>
