<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="mb-3 module-title">
          <inertia-link :href="$route('titulaciones.index')" class="text-decoration-none">Nombramientos</inertia-link>
          <span class="text-indigo">/</span> Sinodales
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form @submit.prevent="guardarSinodales">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="form-group">
                <label for="">Presidente:</label>
                <Multiselect v-model="selectedPresidente"
                             :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione presidente"
                             selectLabel="Presione enter para seleccionar"
                             track-by="value"
                />
              </div>
              <div class="form-group">
                <label for="">Secretario:</label>
                <Multiselect v-model="selectedSecretario"
                             :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione secretario"
                             select-label="Presione enter para seleccionar"
                             track-by="value"
                />
              </div>
              <div class="form-group">
                <label for="">Vocal:</label>
                <Multiselect v-model="selectedVocal"
                             :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione vocal"
                             selectLabel="Presione enter para seleccionar"
                             track-by="value"
                />
              </div>
              <div class="form-group">
                <label for="">Vocal suplente:</label>
                <Multiselect v-model="selectedVocalSuplente"
                             :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione vocal suplente"
                             selectLabel="Presione enter para seleccionar"
                             track-by="value"
                />
              </div>
            </div>
            <div class="card-footer">
              <SubmitButton :loading="loading" class="btn btn-success pull-right">Guardar</SubmitButton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import Multiselect from "vue-multiselect"
  import SubmitButton from "../../../../components/common/SubmitButton"

  export default {
    name: "Create",
    components: {
      SubmitButton,
      Multiselect
    },
    props: {
      titulacion: Object,
      cat_maestros: Array
    },
    data() {
      return {
        presidente: null,
        selectedPresidente: null,
        secretario: null,
        selectedSecretario: null,
        vocal: null,
        selectedVocal: null,
        vocalSuplente: null,
        selectedVocalSuplente: null,
        maestros: this.cat_maestros,
        loading: false
      }
    },
    created() {
    },
    methods: {
      async guardarSinodales() {
        try {
          this.loading = true
          let response = await this.$inertia.post(this.$route("titulaciones.sinodales.store", this.titulacion.id), {
            "presidente": this.presidente,
            "secretario": this.secretario,
            "vocal": this.vocal,
            "vocalSuplente": this.vocalSuplente
          })
          console.log(response)
        } catch (e) {
          console.log(e)
        } finally {
          this.loading = false
        }

        /*.then(response => {
          if (!response.data.is_valid) {
            swal({
              type: "error",
              title: "Oops...",
              text: "Lo sentimos, algo ha salido mal intenta de nuevo",
            });
            console.log(response);
          } else {
            swal({
              type: "success",
              text: "Los sinodales se han guardado correctamente",
            });
          }
        })
        .catch(e => {
          swal({
            type: "error",
            title: "Oops...",
            text: "Lo sentimos, algo ha salido mal intenta de nuevo",
          });
          console.log(e);
        })*/
      }
    },
    computed: {},
    watch: {
      selectedPresidente() {
        if (this.selectedPresidente.value === this.secretario ||
            this.selectedPresidente.value === this.vocal ||
            this.selectedPresidente.value === this.vocalSuplente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedPresidente.label } ya ha sido seleccionado para ocupar otra posición`,
          });
          this.presidente = null
          this.selectedPresidente = {}
        } else {
          this.presidente = this.selectedPresidente.value
        }
      },
      selectedSecretario() {
        if (this.selectedSecretario.value === this.presidente ||
            this.selectedSecretario.value === this.vocal ||
            this.selectedSecretario.value === this.vocalSuplente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedSecretario.label } ya ha sido seleccionado para ocupar otra posición`,
          });
          this.secretario = null
          this.selectedSecretario = {}
        } else {
          this.secretario = this.selectedSecretario.value
        }
      },
      selectedVocal() {
        if (this.selectedVocal.value === this.secretario ||
            this.selectedVocal.value === this.presidente ||
            this.selectedVocal.value === this.vocalSuplente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedVocal.label } ya ha sido seleccionado para ocupar otra posición`,
          });
          this.vocal = null
          this.selectedVocal = {}
        } else {
          this.vocal = this.selectedVocal.value
        }

      },
      selectedVocalSuplente() {
        if (this.selectedVocalSuplente.value === this.secretario ||
            this.selectedVocalSuplente.value === this.vocal ||
            this.selectedVocalSuplente.value === this.presidente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedVocalSuplente.label } ya ha sido seleccionado para ocupar otra posición`,
          });
          this.vocalSuplente = null
          this.selectedVocalSuplente = {}
        } else {
          this.vocalSuplente = this.selectedVocalSuplente.value
        }

      },
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>

</style>
