<template>

</template>

<script>
  export default {
    name: "ConvalidacionesAsignaturasTableItem",
    components: {},
    props: {
      cursadas: Array,
      validada: Object
    },
    data() {
      return {}
    },
    created() {

    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
