<template>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-center bg-info text-white" colspan="8"><strong>MATERIAS CONVALIDADAS</strong></td>
      </tr>
      <tr>
        <th>Materias cursadas</th>
        <th>Clave cursada</th>
        <th>Asignatura a convalidar</th>
        <th>Clave a convalidar</th>
        <th class="text-right">Créditos</th>
        <th class="text-right">Porcentaje %</th>
        <th>VO.BO</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <template v-for="asignatura in asignaturas">
        <template v-for="(cursada, key) in asignatura.asignaturas_cursadas">
          <tr>
            <td>{{ cursada.clave_materia }}</td>
            <td>{{ cursada.nombre_materia }}</td>
            <template v-if="asignatura.asignaturas_cursadas.length < 2">
              <td>{{ asignatura.asignatura_convalidada.clave_materia }}</td>
              <td>{{ asignatura.asignatura_convalidada.nombre_materia }}</td>
              <td class="text-right">{{ asignatura.asignatura_convalidada.creditos }}</td>
              <td class="text-right">{{ asignatura.porcentaje }}</td>
              <td>
                <template v-if="asignatura.departamento">
                  {{ asignatura.departamento.nombre_departamento }}
                </template>
                <template v-else>
                  <DepartamentoSelect :conv="asignatura.convalidacion_carrera_id" :conv-asigna-id="asignatura.id"/>
                </template>
              </td>
              <td>Acciones</td>
            </template>
            <template v-else-if="key === 0">
              <td :rowspan="asignatura.asignaturas_cursadas.length">{{ asignatura.asignatura_convalidada.clave_materia }}</td>
              <td :rowspan="asignatura.asignaturas_cursadas.length">{{ asignatura.asignatura_convalidada.nombre_materia }}</td>
              <td :rowspan="asignatura.asignaturas_cursadas.length" class="text-right">{{ asignatura.asignatura_convalidada.creditos }}</td>
              <td :rowspan="asignatura.asignaturas_cursadas.length" class="text-right">{{ asignatura.porcentaje }}</td>
              <td :rowspan="asignatura.asignaturas_cursadas.length">{{ asignatura.departamento ? asignatura.departamento.nombre_departamento : "" }}</td>
              <td :rowspan="asignatura.asignaturas_cursadas.length">Acciones</td>
            </template>
          </tr>
        </template>
      </template>
    </tbody>
  </table>
</template>

<script>
  import ConvalidacionAsignaturaServices from "../../../services/ConvalidacionAsignaturaServices"
  import ConvalidacionesAsignaturasTableItem from "./ConvalidacionesAsignaturasTableItem"
  import EventBus from "../../../event-bus"
  import DepartamentoSelect from "./DepartamentoSelect"

  export default {
    name: "ConvalidacionesAsignaturasTable",
    components: { DepartamentoSelect, ConvalidacionesAsignaturasTableItem },
    props: {
      convalidacionId: {
        type: [String, Number],
        required: true
      }
    },
    data() {
      return {
        asignaturas: [],
        departamentos: window.departamentos
      }
    },
    created() {
      this.getData();
      EventBus.$on("STORED_CONV_ASIGNA", () => {
        this.getData();
      })
    },
    methods: {
      async getData() {
        let { data } = await ConvalidacionAsignaturaServices.index(this.convalidacionId)
        this.asignaturas = data.asignaturas
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>
  .table th, .table td {
    vertical-align: middle;
  }
</style>
