<template>
  <select id="" v-model="departamento_id" :disabled="sending" class="form-control" name="">
    <option value="">Departamento...</option>
    <option v-for="departamento in departamentos" :value="departamento.id">{{ departamento.nombre_departamento }}</option>
  </select>
</template>

<script>
  import EventBus from "../../../event-bus"

  export default {
    name: "DepartamentoSelect",
    components: {},
    props: {
      convAsignaId: [Number, String],
      conv: [Number, String],
    },
    data() {
      return {
        departamentos: window.departamentos,
        departamento_id: "",
        sending: false
      }
    },
    methods: {
      async updateDepartamento() {
        try {
          this.sending = true
          await axios.post(route("convalidaciones::api::convalidaciones.carreras.asignaturas.departamento.update", { convalidacion: this.conv, asignatura: this.convAsignaId }), {
            departamento_id: this.departamento_id
          })
          EventBus.$emit("STORED_CONV_ASIGNA")
          swal({
            type: "success",
            text: "El departamento se acutalizó correctamente",
          })
        } catch (e) {
          console.log(e)
        } finally {
          this.sending = false
        }
      }
    },
    computed: {},
    watch: {
      departamento_id: "updateDepartamento"
    }
  }
</script>

<style scoped>

</style>
