<template>
  <div class="btn-toolbar">
    <div aria-label="First group" class="btn-group btn-group-sm mr-2" role="group">
      <template v-for="semestre in semestres">
        <SemestreListItem :active-period="activePeriod" :semestre="semestre" @filter="filterAsignaturas"/>
      </template>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from "vuex"
  import SemestreListItem from "./SemestreListItem"

  export default {
    name: "SemestreList",
    components: { SemestreListItem },
    props: {
      semestres: Array,
      type: String,
    },
    data() {
      return {
        activePeriod: ""
      }
    },

    methods: {
      ...mapActions([
        "convasigna/setAsignaturasOrigen",
        "convasigna/setAsignaturasDestino",
      ]),
      filterAsignaturas(semestre) {
        this.activePeriod = semestre
        if (this.type === "origen") {
          let origen = this["convasigna/getAsignaturasOrigenBySemestre"](semestre)
          this["convasigna/setAsignaturasOrigen"](origen)
        } else {
          let destino = this["convasigna/getAsignaturasDestinoBySemestre"](semestre)
          this["convasigna/setAsignaturasDestino"](destino)
        }
      }
    },
    computed: {
      ...mapGetters([
        "convasigna/getAsignaturasOrigenBySemestre",
        "convasigna/getAsignaturasDestinoBySemestre",
      ])
    },
    watch: {}
  }
</script>

<style scoped>

</style>
