<template>
  <button :class="activeClass" class="btn" type="button" @click="filterAsignaturas">{{ semestre }}</button>
</template>

<script>

  export default {
    name: "SemestreListItem",
    components: {},
    props: {
      semestre: String,
      activePeriod: String
    },
    data() {
      return {}
    },
    methods: {
      filterAsignaturas() {
        this.$emit("filter", this.semestre)
      }
    },
    computed: {
      activeClass() {
        return {
          "btn-outline-primary": this.semestre !== this.activePeriod || this.activePeriod === "",
          "btn-primary": this.semestre === this.activePeriod
        }
      }
    }
  }
</script>

<style scoped>

</style>
