<template>
  <form @submit.prevent="save">
    <div class="row">
      <div class="col">
        <multiselect v-model="carreraOrigen"
                     :deselect-label="'Presione enter para remover'"
                     :options="carreras"
                     :select-label="'Presione enter para seleccionar'"
                     :selected-label="'Seleccionado'"
                     label="descripcion"
                     placeholder="Carrera origen"
                     track-by="id"
        >
          <template slot="noResult">
            No se han encontrado elementos.
          </template>
        </multiselect>
      </div>
      <div class="col">
        <multiselect v-model="carreraDestino"
                     :deselect-label="'Presione enter para remover'"
                     :options="carreras"
                     :select-label="'Presione enter para seleccionar'"
                     :selected-label="'Seleccionado'"
                     label="descripcion"
                     placeholder="Carrera destino"
                     track-by="id"
        >
          <template slot="noResult">
            No se han encontrado elementos.
          </template>
        </multiselect>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <button class="btn btn-success">Guardar</button>
        <button class="btn btn-secondary" type="button" @click="close">Cerrar</button>
      </div>
    </div>
  </form>
</template>

<script>
  import Multiselect from "vue-multiselect"

  export default {
    name: "ConvalidacionCarreraForm",
    components: { Multiselect },
    props: {},
    data() {
      return {
        carreras: [],
        carreraOrigen: null,
        carreraDestino: null,
      }
    },
    created() {
      this.carreras = window.carreras
    },
    methods: {
      save() {
        let carrera_origen_id = this.carreraOrigen.id
        let carrera_destino_id = this.carreraDestino.id
        this.$emit("save", { carrera_origen_id, carrera_destino_id })
      },
      close() {
        this.$emit("close");
      }
    },
    computed: {},
    watch: {}
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
