<template>
  <section class="mt-2">
    <button :data-target="'#modal'+nombramientoId" class="btn btn-link btn-sm btn-block" data-toggle="modal" type="button">
      Ver sinodales
    </button>
    <div class="modal fade" :id="'modal'+nombramientoId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sinodales</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Especialidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="sinodal in sinodales">
                                        <td scope="row">{{ sinodal.tipo}}</td>
                                        <td>{{ sinodal.maestro.nombre_completo }}</td>
                                        <td>{{ sinodal.maestro.especialidad }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>



</template>

<script>
    export default {
        props: ['sinodales', 'nombramientoId']
    }
</script>

<style scoped>

</style>
