<template>
  <form @submit.prevent="guardar">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="col-12 col-md-8 offset-md-2">
          <div class="row">
            <div class="col">
              <div class="form-group position-relative">
                <label for="">Número de control</label>
                <input v-model="numero_control"
                       v-validate="'required'"
                       :class="{'input': true, 'invalid-field': errors.has('numero_control') }"
                       class="form-control"
                       maxlength="9"
                       name="numero_control"
                       type="text"
                       @keypress.13.prevent=""
                >
              </div>
              <div v-if="searchingStudent" class="spinner-border position-absolute" role="status"
                   style="top: 33px; right: 23px">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div v-if="!alumno.empty" class="form-group">
            <div class="callout callout-info">
              <h5 class="font-weight-bold">{{ searchStudentMessage }}</h5>
              <p>{{ alumno.numero_control }} - {{ alumno.nombre_apellido }} - {{ alumno.sexo|gender }}</p>
              <p>{{ alumno.carrera.descripcion }}</p>
              <p>GENERACIÓN: {{ generacion }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="">Opción de titulación</label>
            <select v-model="nombramiento.opcion_id" v-validate="'required'"
                    :class="{'input': true, 'invalid-field': errors.has('opcion_id') }" class="form-control"
                    name="opcion_id">
              <option value="">Seleccione...</option>
              <option v-for="opcion in opciones" :value="opcion.id">{{ opcion.text }}</option>
            </select>
          </div>
          <div v-if="modulos.length" class="form-group">
            <label for="">Módulo</label>
            <select v-model="nombramiento.modulo_id" v-validate="'required'"
                    :class="{'input': true, 'invalid-field': errors.has('modulo_id') }" class="form-control"
                    name="modulo_id">
              <option value="">Seleccione...</option>
              <option v-for="modulo in modulos" :value="modulo.value">{{ modulo.text }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Proyecto</label>
            <textarea v-model="nombramiento.proyecto" class="form-control" cols="30" rows="5"></textarea>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="">Fecha</label>
              <input v-model="nombramiento.fecha" v-validate="'required'"
                     :class="{'input': true, 'invalid-field': errors.has('fecha') }" class="form-control" name="fecha"
                     type="date">
            </div>
            <div class="col">
              <label for="">Hora</label>
              <select v-model="nombramiento.horario_id" v-validate="'required'"
                      :class="{'input': true, 'invalid-field': errors.has('horario_id') }" class="form-control"
                      name="horario_id">
                <option value="">Seleccione...</option>
                <option v-for="hora in horas" :value="hora.value">{{ hora.text }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" v-show="isOverlap">
            <div class="col">
              <div class="callout callout-warning">
                <h5 class="font-weight-bold">¡Atención!</h5>
                <p>Ya existe una titulación en la fecha seleccionada en el horario selecionado</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <SubmitButton :loading="sending" class="pull-right"></SubmitButton>
      </div>
    </div>
  </form>
</template>

<script>
  import SubmitButton from "../../../components/common/SubmitButton"
  import throttle from "lodash/throttle"
  import axios from "../../../services/api"

  export default {
    components: {
      SubmitButton
    },
    data() {
      return {
        numero_control: null,
        opciones: [],
        modulos: [],
        horas: [],
        status: 404,
        searchStudentMessage: "",
        searchingStudent: false,
        cancelToken: null,
        alumno: {
          carrera: {},
          carrera_id: null,
          id: null,
          nombramiento: {},
          nombre_completo: "",
          numero_control: "",
          sexo: "",
          empty: true
        },
        defaultAlumno: {
          carrera: {},
          carrera_id: null,
          id: null,
          nombramiento: {},
          nombre_completo: "",
          numero_control: "",
          sexo: "",
          empty: true
        },
        nombramiento: {
          alumno_id: null,
          opcion_id: "",
          modulo_id: "",
          proyecto: "",
          fecha: "",
          horario_id: ""
        },
        sending: false,
        isOverlap: false
      }
    },
    filters: {
      gender: function (value) {
        return value == "M" ? "HOMBRE" : "MUJER";
      }
    },
    computed: {
      selectedHorario() {
        return this.nombramiento.horario_id
      },
      fecha() {
        return this.nombramiento.fecha;
      },
      opcion_titulacion() {
        return this.nombramiento.opcion_id
      },
      generacion() {
        if (this.numero_control && this.numero_control.length > 1) {
          if (isNaN(this.numero_control.substr(0, 1))) {
            let d = new Date("01/01/" + this.numero_control.substr(1, 2));
            return d.getFullYear();
          } else {
            let d = new Date("01/01/" + this.numero_control.substr(0, 2));
            return d.getFullYear();
          }
        }
        return undefined;
      }
    },
    watch: {
      selectedHorario: async function (val) {
        const horario_id = val
        const fecha = this.nombramiento.fecha

        this.sending = true
        let {data} = await axios.get(route('check.horario'), {
          params: {
            horario_id,
            fecha
          }
        })
        this.sending = false
        this.isOverlap = data.exists
      },
      fecha: function (val) {
        axios.get(route("horarios.index"), {
          params: {
            fecha: val
          }
        }).then(response => {
          this.horas = response.data.horarios
        }).catch(err => {
          console.log(err.response);
        })
      },
      opcion_titulacion: function (val) {
        this.modulos = [];
        this.nombramiento.modulo_id = "";
        axios.get(route("modulos.index"), {
          params: {
            "opcion": val,
            "carrera": this.alumno.carrera_id
          }
        }).then(response => {
          this.modulos = response.data.modulos.modulos;
        }).catch(err => {
          console.log(err.response);
        })
      },
      generacion(val) {
        if (val) {
          axios.get(route("opciones.index"), {
            params: {
              year: val
            }
          }).then(response => {
            this.opciones = response.data.generacion.opciones;
          }).catch(err => {
            console.log(err);
          })
        }
      },
      numero_control: {
        handler: throttle(async function () {
          if (this.cancelToken) {
            this.cancelToken.cancel("Cancel request")
          }


          this.alumno = Object.assign({}, this.defaultAlumno)
          this.cancelToken = axios.CancelToken.source()

          try {
            this.searchingStudent = true;
            this.searchStudentMessage = "Buscando...";
            let response = await axios.get(route("alumnos.search", {numero_control: this.numero_control}), {cancelToken: this.cancelToken.token})
            this.searchStudentMessage = "Alumno:";
            this.status = response.status;
            this.alumno = response.data.alumno;
            this.nombramiento.alumno_id = this.alumno.id;
            this.searchingStudent = false
          } catch (thrown) {

            if (axios.isCancel(thrown)) {
              console.log("Request canceled", thrown.message);
            } else {
              this.searchStudentMessage = "Alumno no encontrado";
              this.status = thrown.response.status;
            }

          } finally {
          }

        }, 150)
      }
    },
    methods: {
      guardar() {
        this.$validator.validateAll().then(result => {
          if (result) {
            this.sending = true
            this.$inertia.post(this.$route("titulaciones.store"), {nombramiento: this.nombramiento})
                .then(() => this.sending = false)
          } else {
            swal({
              type: "error",
              title: "Oops...",
              text: "Existen errores en el formulario",
            })
          }
        });

      },
      /*searchStudent: _.debounce(function () {
        this.status = 404;
        this.searchingStudent = true;
        this.searchStudentMessage = "Buscando...";

        if (this.numero_control !== null) {
          if (this.numero_control.length >= 8) {
            axios.get(route("alumnos.search"), {
              params: {
                numero_control: this.numero_control
              }
            }).then(response => {
              this.searchStudentMessage = "Alumno:";
              this.status = response.status;
              this.alumno = response.data.alumno;

              this.nombramiento.alumno_id = this.alumno.id;
            }).catch(err => {
              this.searchStudentMessage = "Alumno no encontrado";
              this.status = err.response.status;
            });
          }
        } else {
          this.searchingStudent = false;
        }
      }, 900)*/
    }
  }
</script>

<style scoped>
.callout {
  padding: .5rem 1rem .5rem .5rem;
  border-left: 5px solid #eee;
  margin-bottom: 1rem !important;
}

.callout.callout-info {
  background-color: #d4ecf0;
  border-left-color: #117a8b;
}

.callout.callout-warning {
  background-color: #ffd75f;
  border-left-color: #f0ad4e;
}
</style>
