<template>
  <li class="list-group-item">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-2 col-md-12 mb-md-2 col-lg-4 align-self-center">
          <div class="d-flex align-self-center" style="font-size: 14px">
            <div class="">
              <div class="font-weight-bold">
                {{ nombramiento.alumno.nombre_apellido }}
              </div>
              <div class="text-muted">
                <strong>Número de control: </strong> {{ nombramiento.alumno.numero_control }}
              </div>
              <div class="text-muted">
                <span><strong>Fecha y hora: </strong> {{ nombramiento.fecha|formatDate }} a las <span>{{ nombramiento.horario.hora|formatHour }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2 col-md-6 mb-md-0 col-lg-6">
          <div class="d-flex align-self-center" style="font-size: 14px">
            <div class="">
              <div class="font-weight-bold">
                {{ nombramiento.alumno.carrera.descripcion }}
              </div>
              <div class="text-muted">
                <span>{{ nombramiento.opcion.descripcion }}{{ !nombramiento.modulo.empty ? `/${ nombramiento.modulo.descripcion }` : "" }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2 col-md-3 mb-md-0 offset-md-3 col-lg-2 offset-lg-0 align-self-center">
          <div class="btn-group btn-block">
            <button :class="statusColor" aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle rounded-pill" data-toggle="dropdown" type="button">
              {{ status }}
            </button>
            <div class="dropdown-menu">
              <div v-if="hasRole(['titulacion']) && draft.estatus == 'C'">
                <a :href="'/generar-juramento/'+nombramiento.id" class="dropdown-item">Generar juramento</a>
                <a :href="'/generar-acta/'+nombramiento.id" class="dropdown-item">Generar acta</a>
                <button class="dropdown-item" @click="generarAnexo">Generar Anexo III</button>
                <button class="dropdown-item" @click="generarIntervencionGeneral">Generar Intervención Sínodo</button>
                <button class="dropdown-item" @click="generarIntervencionSustentante">Generar Intervención Sustentante</button>
              </div>
              <div v-if="hasRole(['titulacion'])">
                <button v-if="draft.estatus === 'C'" class="dropdown-item" @click="generarMemoSinodales(false)">Generar memo sinodales</button>
                <button v-else class="dropdown-item" @click="generarMemoSinodales(true)">Generar memo sinodales</button>
              </div>
              <div v-if="hasRole(['titulacion'])">
                <inertia-link :href="$route('titulaciones.edit', nombramiento.id)" class="dropdown-item">Editar</inertia-link>
              </div>
              <div v-if="nombramiento.sinodales.length>0">
                <div v-if="!hasRole(['jefe_depto'])" class="dropdown-divider"></div>
                <button class="dropdown-item" @click="generarNombramiento">Generar nombramiento</button>
              </div>
              <template v-if="nombramiento.sinodales.length>0">
                <inertia-link :href="$route('titulaciones.sinodales.edit', nombramiento.id)" class="dropdown-item">Editar sinodales</inertia-link>
              </template>
              <template v-else>
                <div v-if="hasRole(['jefe_depto', 'division']) && draft.estatus == 'E'">
                  <inertia-link :href="$route('titulaciones.sinodales.create', nombramiento.id)" class="dropdown-item">Agregar sinodales</inertia-link>
                </div>
              </template>
            </div>
          </div>
          <div v-if="hasRole(['jefe_depto', 'titulacion']) && nombramiento.sinodales.length>0">
            <modal-sinodal :nombramiento-id="nombramiento.id" :sinodales="nombramiento.sinodales"></modal-sinodal>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
  import modalSinodal from "./ModalSinodalesComponent";
  import intersection from "lodash/intersection"
  import axios from "../../../services/api"

  export default {
    components: { modalSinodal },
    props: ["nombramiento"],
    data() {
      return {
        draft: {}
      }
    },
    created() {
      this.draft = Object.assign({}, this.nombramiento)
    },
    computed: {
      statusColor() {
        return {
          "btn-outline-success": this.status === "Concluido",
          "btn-outline-warning": this.status === "Pendiente",
          "btn-outline-primary": this.status === "Enviado",
        }
      },
      status: function () {
        if (this.draft.estatus === "P") {
          return "Pendiente"
        } else if (this.draft.estatus === "E") {
          if (this.hasRole(["division", "titulacion"])) {
            return "Enviado"
          }
          return "Pendiente"
        } else {
          return "Concluido"
        }
      }
    },
    methods: {
      generarMemoSinodales(changeStatus = true) {
        let nombramientoId = this.nombramiento.id
        axios({
          url: `/generar-memo-sinodales/${ nombramientoId }`,
          method: "GET",
          responseType: "blob",
        })
            .then((response) => {
              let alumno = this.nombramiento.alumno.nombre_apellido.replace(/ /g, "_")
              let fileURL = window.URL.createObjectURL(new Blob([response.data]));
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", `memo_sinodales_${ alumno }.docx`);
              document.body.appendChild(fileLink);
              if (changeStatus === true) {
                this.draft.estatus = "E"
              }
              fileLink.click();
            })
            .catch(reason => {
              if (reason.response.status === 422) {
                swal({
                  title: "¡Atención!",
                  text: "La carrera no tiene jefe de departamento asignado",
                  type: "warning",
                })
              }
            });
      },
      hasRole(r) {
        let result = intersection(window.Laravel.roles, r);
        return result.length;
      },
      generarAnexo() {
        location.href = route('titulaciones.generar.anexo', this.nombramiento.id);
      },
      generarIntervencionGeneral() {
        location.href = route('nombramiento.intervencion.general', this.nombramiento.id);
      },
      generarIntervencionSustentante() {
        location.href = route('nombramiento.intervencion.sustentante', this.nombramiento.id);
      },
      generarNombramiento() {

        axios.get(route("show.numero.oficio", this.nombramiento.id))
            .then(response => {
              if (response.data.numeroOficio == null) {
                swal({
                  title: "Número de oficio",
                  text: "¿Está seguro? Una vez generado el nombramiento no se podrán modificar los sinodales",
                  type: "warning",
                  input: "text",
                  inputPlaceholder: "Número de oficio del nombramiento",
                  showCancelButton: true,
                  inputValidator: (value) => {
                    return !value && "Por favor proporcione el número de oficio!"
                  }
                }).then(result => {
                  if (result.value) {
                    axios.post(route("update.numero.oficio", this.nombramiento.id), {
                      numero_oficio: result.value
                    }).then(response => {
                      if (response.data.is_valid) {
                        this.nombramiento.estatus = "C";
                        location.href = "/generar-nombramiento/" + this.nombramiento.id;
                      }
                    }).catch(err => {
                      console.log(err.response);
                    })
                  }
                })
              } else {
                location.href = "/generar-nombramiento/" + this.nombramiento.id;
              }
            })
            .catch(err => {
              console.log(err.response);
            });
      }
    }
  }
</script>

<style scoped>
  .list-group-item, .list-group-item:hover {
    z-index: auto;
  }

  .list-group-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
</style>
