<template>
    <ul class="list-group list-group-flush">
        <nombramiento-list-item v-for="nombramiento in nombramientos" :key="nombramiento.id" :nombramiento="nombramiento"></nombramiento-list-item>
    </ul>
</template>

<script>
    import NombramientoListItem from './NombramientoListItem';

    export default {
        props: ['nombramientos'],
        components: {NombramientoListItem}
    }
</script>

<style scoped>

</style>