<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Sinodales</div>
          <div class="card-body">
            <form action="">
              <div class="form-group">
                <label for="">Presidente:</label>
                <Multiselect :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione presidente"
                             selectLabel="Presione enter para seleccionar"
                             track-by="value"
                             v-model="selectedPresidente"
                />
              </div>
              <div class="form-group">
                <label for="">Secretario:</label>
                <Multiselect :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione secretario"
                             select-label="Presione enter para seleccionar"
                             track-by="value"
                             v-model="selectedSecretario"
                />
              </div>
              <div class="form-group">
                <label for="">Vocal:</label>
                <Multiselect :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione vocal"
                             selectLabel="Presione enter para seleccionar"
                             track-by="value"
                             v-model="selectedVocal"
                />
              </div>
              <div class="form-group">
                <label for="">Vocal suplente:</label>
                <Multiselect :loading="loading"
                             :multiple="false"
                             :options="maestros"
                             label="label"
                             placeholder="Seleccione vocal suplente"
                             selectLabel="Presione enter para seleccionar"
                             track-by="value"
                             v-model="selectedVocalSuplente"
                />
              </div>
              <div class="form-group">
                <button @click="guardarSinodales" class="btn btn-success btn-block" type="button">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Multiselect from "vue-multiselect"

  export default {
    components: { Multiselect },
    props: ["nombramientoId"],
    data() {
      return {
        presidente: null,
        selectedPresidente: null,
        secretario: null,
        selectedSecretario: null,
        vocal: null,
        selectedVocal: null,
        vocalSuplente: null,
        selectedVocalSuplente: null,
        maestros: window.Maestros,
        loading: false
      }
    },
    created() {
      this.loading = true
      axios.get(route("endpoint.nombramientos.store.sinodales", this.nombramientoId))
          .then(response => {
            if (response.data.nombramiento.sinodales.length > 0) {
              let presidente = response.data.nombramiento.sinodales.find(el => el.tipo === "PRESIDENTE")
              this.selectedPresidente = { value: presidente.maestro.id, label: presidente.maestro.nombre_completo }

              let secretario = response.data.nombramiento.sinodales.find(el => el.tipo === "SECRETARIO")
              this.selectedSecretario = { value: secretario.maestro.id, label: secretario.maestro.nombre_completo }

              let vocal = response.data.nombramiento.sinodales.find(el => el.tipo === "VOCAL")
              this.selectedVocal = { value: vocal.maestro.id, label: vocal.maestro.nombre_completo }

              let vocalSuplente = response.data.nombramiento.sinodales.find(el => el.tipo === "VOCAL SUPLENTE")
              this.selectedVocalSuplente = { value: vocalSuplente.maestro.id, label: vocalSuplente.maestro.nombre_completo }
            }
            this.loading = false
          })
    },
    methods: {
      guardarSinodales() {
        axios.post(route("endpoint.nombramientos.store.sinodales", this.nombramientoId), {
          "presidente": this.presidente,
          "secretario": this.secretario,
          "vocal": this.vocal,
          "vocalSuplente": this.vocalSuplente
        })
            .then(response => {
              if (!response.data.is_valid) {
                swal({
                  type: "error",
                  title: "Oops...",
                  text: "Lo sentimos, algo ha salido mal intenta de nuevo",
                });
                console.log(response);
              } else {
                swal({
                  type: "success",
                  text: "Los sinodales se han guardado correctamente",
                });
                this.$router.push({
                  name: "nombramientos.index"
                })
              }
            })
            .catch(e => {
              swal({
                type: "error",
                title: "Oops...",
                text: "Lo sentimos, algo ha salido mal intenta de nuevo",
              });
              console.log(e);
            })
      }
    },
    watch: {
      selectedPresidente() {
        if (this.selectedPresidente.value === this.secretario ||
            this.selectedPresidente.value === this.vocal ||
            this.selectedPresidente.value === this.vocalSuplente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedPresidente.label } ya ha sido seleccionado para ocupar otra posicion`,
          });
          this.presidente = null
          this.selectedPresidente = {}
        } else {
          this.presidente = this.selectedPresidente.value
        }
      },
      selectedSecretario() {
        if (this.selectedSecretario.value === this.presidente ||
            this.selectedSecretario.value === this.vocal ||
            this.selectedSecretario.value === this.vocalSuplente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedSecretario.label } ya ha sido seleccionado para ocupar otra posicion`,
          });
          this.secretario = null
          this.selectedSecretario = {}
        } else {
          this.secretario = this.selectedSecretario.value
        }
      },
      selectedVocal() {
        if (this.selectedVocal.value === this.secretario ||
            this.selectedVocal.value === this.presidente ||
            this.selectedVocal.value === this.vocalSuplente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedVocal.label } ya ha sido seleccionado para ocupar otra posicion`,
          });
          this.vocal = null
          this.selectedVocal = {}
        } else {
          this.vocal = this.selectedVocal.value
        }

      },
      selectedVocalSuplente() {
        if (this.selectedVocalSuplente.value === this.secretario ||
            this.selectedVocalSuplente.value === this.vocal ||
            this.selectedVocalSuplente.value === this.presidente) {
          swal({
            type: "warning",
            title: "¡Atención!",
            text: `El maestro ${ this.selectedVocalSuplente.label } ya ha sido seleccionado para ocupar otra posicion`,
          });
          this.vocalSuplente = null
          this.selectedVocalSuplente = {}
        } else {
          this.vocalSuplente = this.selectedVocalSuplente.value
        }

      },
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>

</style>
