<template>
    <section>
        <div class="btn-group" role="group" aria-label="Basic example">
            <router-link tag="button" class="btn btn-outline-info" :to="{name:'usuarios.edit', params:{userId:user.id}}" :title="'Editar usuario'">
                <i class="fa fa-pencil"></i>
            </router-link>
            <button type="button" class="btn btn-outline-info" :data-toggle="'modal'" :data-target="'#change-user-'+user.id+'-password'" :title="'Cambiar contraseña'">
                <i class="fa fa-key"></i>
            </button>
            <template v-if="user.active">
                <button type="button" class="btn btn-outline-danger" @click="disabled" :title="'Desactivar usuario'">
                    <i class="fa fa-ban"></i>
                </button>
            </template>
            <template v-else>
                <button type="button" class="btn btn-outline-info" @click="enabled" :title="'Activar usuario'">
                    <i class="fa fa-check"></i>
                </button>
            </template>
        </div>

        <!-- Modal -->
        <div class="modal fade" :id="'change-user-'+user.id+'-password'" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modelTitleId">{{ user.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="">Contraseña nueva</label>
                                <input type="password" class="form-control" v-model="new_password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" @click="changePassword" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                new_password: null,
            }
        },
        methods: {
            enabled() {
                axios.patch(route('enabled-users', this.user.id))
                    .then(response => {
                        if (response.status == 200) {
                            this.user.active = 1;
                        }
                    })
            },
            disabled() {
                axios.delete(route('disabled-users', this.user.id))
                    .then(response => {
                        if (response.status == 200) {
                            this.user.active = 0;
                        }
                    })
            },
            changePassword() {
                if (!this.new_password) {
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Por favor ingresa una contraseña nueva',
                    });
                } else {
                    axios.patch(route('change-password', this.user.id), {
                        new_password: this.new_password
                    })
                        .then(response => {
                            if (response.status == 200) {
                                swal({
                                    type: 'success',
                                    text: 'La contraseña ha sido actualizada correctamente',
                                }).then(result => {
                                    if (result.value) {
                                        let modal = '#change-user-' + this.user.id + '-password';
                                        $(modal).modal('hide');
                                    }
                                })
                            } else {
                                swal({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Lo sentimos, algo ha salido mal intenta de nuevo',
                                });

                                console.log(response);
                            }

                        })
                        .catch(response => {
                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Lo sentimos, algo ha salido mal intenta de nuevo',
                            });

                            console.log(response);
                        })
                }

            }
        }
    }
</script>

<style scoped>

</style>