<template>
  <form @submit.prevent="save">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" class="form-control" v-model="user.name">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" v-model="user.email">
    </div>
    <template v-if="action === 'save'">
      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" v-model="user.password">
      </div>
    </template>
    <div class="form-group">
      <label>Roles</label>
      <div v-for="rol in roles" :key="rol.id" class="form-check">
        <input class="form-check-input" type="checkbox" :value="rol.id" :id="'rol-' + rol.id"
               v-model="user.selected_roles">
        <label class="form-check-label" :for="'rol-' + rol.id">
          {{ rol.descripcion }}
        </label>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit">Guardar</button>
    </div>
  </form>
</template>

<script>
  export default {
    props: ['user', 'action'],
    data() {
      return {
        roles: [
          {id: 1, descripcion: "jefe_depto"},
          {id: 2, descripcion: "titulacion"},
          {id: 3, descripcion: "division"},
          {id: 4, descripcion: "servicios_escolares"},
          {id: 5, descripcion: "financieros"},
          {id: 6, descripcion: "extraescolares"},
          {id: 7, descripcion: "gestion_vinculacion"},
          {id: 8, descripcion: "depto_academico"},
          {id: 9, descripcion: "biblioteca"},
          {id: 10, descripcion: "administrativo"},
        ],
        error: '',
        loading: false,
      }
    },
    methods: {
      save() {
        this.$emit('save');
      }
    }
  }
</script>

<style scoped>

</style>
