<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Configuración de convalidaciones
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <p class="mb-0">{{ carreraOrigen.descripcion_estado }}</p>
                <h1 class="">{{ carreraOrigen.descripcion }}</h1>
                <SemestreList :semestres="semestresOrigen" type="origen"/>
              </div>
              <div class="col">
                <p class="mb-0">{{ carreraDestino.descripcion_estado }}</p>
                <h1 class="">{{ carreraDestino.descripcion }}</h1>
                <SemestreList :semestres="semestresDestino" type="destino"/>
              </div>
            </div>
            <form @submit.prevent="save">
              <div class="row mb-3">
                <div class="col">
                  <template v-if="asignaturasOrigen.length === 0">
                    <p class="text-muted">Seleccione un semestre...</p>
                  </template>
                  <template v-for="asignatura in asignaturasOrigen">
                    <div class="form-check mb-2">
                      <input :id="asignatura.clave_materia"
                             v-model="form.asignaturas_cursadas"
                             v-validate="'required'"
                             :value="asignatura"
                             class="form-check-input"
                             name="asignaturas_cursadas"
                             type="checkbox"
                      >
                      <label :for="asignatura.clave_materia" class="form-check-label">
                        {{ `${ asignatura.clave_materia } ${ asignatura.nombre_materia }` }}
                      </label>
                    </div>
                  </template>
                  <small class="form-text text-danger">
                    {{ errors.first("asignaturas_cursadas") }}
                  </small>
                </div>
                <div class="col">
                  <div class="row mb-3">
                    <div class="col">
                      <template v-if="asignaturasDestino.length === 0">
                        <p class="text-muted">Seleccione un semestre...</p>
                      </template>
                      <template v-for="asignatura in asignaturasDestino">
                        <div class="custom-control custom-radio mb-2">
                          <input :id="`o-${asignatura.clave_materia}`"
                                 v-model="form.asignatura_convalidar"
                                 v-validate="'required'"
                                 :value="asignatura"
                                 class="custom-control-input"
                                 name="asignatura_convalidar"
                                 type="radio"
                          >
                          <label :for="`o-${asignatura.clave_materia}`" class="custom-control-label">
                            {{ `${ asignatura.clave_materia } ${ asignatura.nombre_materia }` }}
                          </label>
                        </div>
                      </template>
                      <small class="form-text text-danger">
                        {{ errors.first("asignatura_convalidar") }}
                      </small>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-2">
                      <div class="input-group">
                        <input v-model="form.porcentaje"
                               v-validate="'required|numeric|min_value:0|max_value:100'"
                               class="form-control text-right"
                               name="porcentaje"
                               placeholder="Porcentaje"
                               type="text"
                        >
                        <div class="input-group-append">
                          <div class="input-group-text">%</div>
                        </div>
                      </div>
                      <small class="form-text text-danger">
                        {{ errors.first("porcentaje") }}
                      </small>
                    </div>
                    <div class="col-10">
                      <select v-model="form.departamento"
                              class="form-control"
                              v-validate="'required'"
                              name="departamento"
                      >
                        <option value="">Seleccione...</option>
                        <template v-for="departamento in departamentos">
                          <option :value="departamento">{{ departamento.jefatura.substring(18, departamento.jefatura.length) }}</option>
                        </template>
                      </select>
                      <small class="form-text text-danger">
                        {{ errors.first("departamento") }}
                      </small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button :disabled="saving" class="btn btn-success">
                        <template v-if="!saving">Guardar</template>
                        <template v-else>
                          <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                          Guardando...
                        </template>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="text-center bg-warning text-white" colspan="7"><strong>MATERIAS A CONVALIDAR</strong></td>
                      </tr>
                      <tr>
                        <th>Materias cursadas</th>
                        <th>Clave cursada</th>
                        <th>Asignatura a convalidar</th>
                        <th>Clave a convalidar</th>
                        <th class="text-right">Créditos</th>
                        <th class="text-right">Porcentaje %</th>
                        <th>VO.BO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-for="(cursada, key) in form.asignaturas_cursadas">
                        <tr>
                          <td>{{ cursada.nombre_materia }}</td>
                          <td>{{ cursada.clave_materia }}</td>
                          <template v-if="form.asignaturas_cursadas < 2">
                            <td>{{ form.asignatura_convalidar.nombre_materia }}</td>
                            <td>{{ form.asignatura_convalidar.clave_materia }}</td>
                            <td>{{ form.asignatura_convalidar.creditos }}</td>
                            <td>{{ form.porcentaje }}</td>
                            <td>
                              <template v-if="!form.departamento.empty && form.departamento !==''">
                                {{ form.departamento.jefatura.substring(18, form.departamento.jefatura.length) }}
                              </template>
                            </td>
                          </template>
                          <template v-else-if="key === 0">
                            <td :rowspan="form.asignaturas_cursadas.length">{{ form.asignatura_convalidar.nombre_materia }}</td>
                            <td :rowspan="form.asignaturas_cursadas.length">{{ form.asignatura_convalidar.clave_materia }}</td>
                            <td :rowspan="form.asignaturas_cursadas.length" class="text-right">{{ form.asignatura_convalidar.creditos }}</td>
                            <td :rowspan="form.asignaturas_cursadas.length" class="text-right">{{ form.porcentaje }}</td>
                            <td :rowspan="form.asignaturas_cursadas.length">
                              <template v-if="!form.departamento.empty && form.departamento !==''">
                                {{ form.departamento.jefatura.substring(18, form.departamento.jefatura.length) }}
                              </template>
                            </td>
                          </template>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <ConvalidacionesAsignaturasTable :convalidacion-id="id"/>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import collect from "collect.js"
  import SemestreList from "./components/SemestreList"
  import { mapActions, mapState } from "vuex"
  import ConvalidacionCarreraServices from "../../services/ConvalidacionCarreraServices"
  import ConvalidacionAsignaturaServices from "../../services/ConvalidacionAsignaturaServices"
  import ConvalidacionesAsignaturasTable from "./components/ConvalidacionesAsignaturasTable"
  import EventBus from "../../event-bus"

  export default {
    name: "Create",
    components: { ConvalidacionesAsignaturasTable, SemestreList },
    props: {
      id: {
        type: [Number, String],
        required: true
      }
    },
    data() {
      return {
        convalidacion: { empty: true },
        loading: false,
        saving: false,
        departamentos: window.departamentos,
        form: {
          asignaturas_cursadas: [],
          asignatura_convalidar: "",
          porcentaje: "",
          departamento: ""
        },
        defaultForm: {
          asignaturas_cursadas: [],
          asignatura_convalidar: "",
          porcentaje: "",
          departamento: ""
        }
      }
    },
    beforeRouteLeave(to, from, next) {
      this["convasigna/resetStore"]()
      next()
    },
    async created() {
      this.loading = true
      let { data } = await ConvalidacionCarreraServices.show(this.id)
      this["convasigna/setCarreraOrigen"](data.convalidacion.carrera_origen)
      this["convasigna/setCarreraDestino"](data.convalidacion.carrera_destino)
      this.loading = false
    },
    methods: {
      ...mapActions([
        "convasigna/setCarreraOrigen",
        "convasigna/setCarreraDestino",
        "convasigna/resetStore",
      ]),
      async save() {
        let isValid = await this.$validator.validate()
        if (isValid) {
          let convalidacion_carrera_id = this.id
          let asignaturas_cursadas = this.form.asignaturas_cursadas
          let asignatura_convalidar_id = this.form.asignatura_convalidar.id
          let porcentaje = this.form.porcentaje
          let departamento_id = this.form.departamento.id

          try {
            this.saving = true
            await ConvalidacionAsignaturaServices.store({
              convalidacion_carrera_id,
              asignaturas_cursadas,
              asignatura_convalidar_id,
              porcentaje,
              departamento_id
            })
          } catch (e) {
            console.log(e)
          } finally {
            this.saving = false
            this.form = Object.assign({}, this.defaultForm)
            EventBus.$emit("STORED_CONV_ASIGNA")
            swal({
              type: "success",
              text: "La configuración se guardó correctamente",
            });
          }

        } else {
          console.log("not valida")
        }
      }
    },
    computed: {
      ...mapState({
        carreraOrigen: state => state.convasigna.carreraOrigen,
        carreraDestino: state => state.convasigna.carreraDestino,
        asignaturasOrigen: state => state.convasigna.asignaturasOrigen,
        asignaturasDestino: state => state.convasigna.asignaturasDestino,
      }),
      semestresOrigen() {
        if (this.loading) {
          return []
        } else {
          let collection = collect(this.carreraDestino.asignaturas).groupBy("semestre")
          return Object.keys(collection.items).sort();
        }
      },
      semestresDestino() {
        if (this.loading) {
          return []
        } else {
          let collection = collect(this.carreraDestino.asignaturas).groupBy("semestre")
          return Object.keys(collection.items).sort();
        }
      }
    },
    watch: {}
  }
</script>

<style scoped>
  .table th, .table td {
    vertical-align: middle;
  }
</style>
