<template>
  <div class="container">
    <div class="row">
      <div class="col mt-3">
        <h1 class="mb-3 module-title">
          <inertia-link :href="$route('titulaciones.index')" class="text-decoration-none">Solicitudes</inertia-link>
          <span class="text-indigo">/</span> Nueva
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <NombramientoFormComponent></NombramientoFormComponent>
      </div>
    </div>
  </div>
</template>

<script>
  import NombramientoFormComponent from "../../../views/nombramientos/components/NombramientoFormComponent"

  export default {
    name: "Create",
    components: {
      NombramientoFormComponent
    },
    props: {},
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
