<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <h1 class="mb-3 module-title">
          <inertia-link :href="$route('titulaciones.index')" class="text-decoration-none">Solicitudes</inertia-link>
          <span class="text-indigo">/</span> Editar
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form @submit.prevent="update">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="col-12 col-md-8 offset-md-2">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <div class="callout callout-info">
                        <p>{{ alumno.numero_control }} - {{ alumno.nombre_apellido }} - {{ alumno.sexo|gender }}</p>
                        <p>{{ alumno.carrera.descripcion }}</p>
                        <p>GENERACIÓN: {{ generacion }}</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="opcion">Opción de titulación</label>
                      <select id="opcion" v-model="nombramiento.opcion_id" class="form-control">
                        <option value="">Seleccione...</option>
                        <option v-for="opcion in opciones" :value="opcion.id">{{ opcion.descripcion }}</option>
                      </select>
                    </div>
                    <div v-if="selectedOption.modulos.length" class="form-group">
                      <label for="modulo">Módulo</label>
                      <select id="modulo" v-model="nombramiento.modulo_id" v-validate="'required'" :class="{'input': true, 'invalid-field': errors.has('modulo_id') }" class="form-control" name="modulo_id">
                        <option value="">Seleccione...</option>
                        <option v-for="modulo in selectedOption.modulos" :value="modulo.id">{{ modulo.descripcion }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Proyecto</label>
                      <textarea v-model="nombramiento.proyecto" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group row">
                      <div class="col">
                        <label for="">Fecha</label>
                        <input v-model="nombramiento.fecha" v-validate="'required'" :class="{'input': true, 'invalid-field': errors.has('fecha') }" class="form-control" name="fecha" type="date">
                      </div>
                      <div class="col">
                        <label for="">Hora</label>
                        <select v-model="nombramiento.horario_id" v-validate="'required'" :class="{'input': true, 'invalid-field': errors.has('horario_id') }" class="form-control" name="horario_id">
                          <option value="">Seleccione...</option>
                          <option v-for="hora in horas" :value="hora.value">{{ hora.text }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row" v-show="isOverlap">
                      <div class="col">
                        <div class="callout callout-warning">
                          <h5 class="font-weight-bold">¡Atención!</h5>
                          <p>Ya existe una titulación en la fecha seleccionada en el horario selecionado</p>
                        </div>
                      </div>
                    </div>
                    <template v-if="nombramiento.estatus === 'C'">
                      <div class="form-group row">
                        <div class="col">
                          <label for="">Representante</label>
                          <input type="text" v-model="nombramiento.representante_division" class="form-control" name="representante_division">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col">
                          <label for="">Link de video</label>
                          <input type="text" v-model="nombramiento.video_link" class="form-control" name="video_link">
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <SubmitButton :loading="sending" class="pull-right"></SubmitButton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from "moment"
  import SubmitButton from "../../../components/common/SubmitButton"
  import axios from "../../../services/api"

  export default {
    name: "Edit",
    components: { SubmitButton },
    props: {
      nombramiento: Object,
      opciones: Array,
      horarios: Array
    },
    data() {
      return {
        sending: false,
        horas: [],
        isOverlap: false
      }
    },
    created() {
      this.horas = this.horarios
    },
    methods: {
      async update() {
        this.sending = true

        let data = new FormData();
        data.append("horario_id", this.nombramiento.horario_id)
        data.append("fecha", this.nombramiento.fecha)
        data.append("proyecto", this.nombramiento.proyecto)
        data.append("modulo_id", this.nombramiento.modulo_id)
        data.append("opcion_id", this.nombramiento.opcion_id)
        data.append("representante_division", this.nombramiento.representante_division)
        data.append("video_link", this.nombramiento.video_link)
        data.append("_method", "patch")

        await this.$inertia.post(this.$route("titulaciones.update", this.nombramiento.id), data)

        this.sending = false
      }
    },
    computed: {
      selectedHorario() {
        return this.nombramiento.horario_id
      },
      fecha() {
        return this.nombramiento.fecha
      },
      selectedOption() {
        return this.opciones.find(el => {
          return el.id === this.nombramiento.opcion_id
        })
      },
      alumno() {
        return this.nombramiento.alumno
      },
      generacion() {
        if (this.alumno.numero_control && this.alumno.numero_control.length > 1) {
          if (isNaN(this.alumno.numero_control.substr(0, 1))) {
            let d = new Date("01/01/" + this.alumno.numero_control.substr(1, 2));
            return d.getFullYear();
          } else {
            let d = new Date("01/01/" + this.alumno.numero_control.substr(0, 2));
            return d.getFullYear();
          }
        }
        return undefined;
      }
    },
    watch: {
      selectedHorario: async function (val) {
        const horario_id = val
        const fecha = this.nombramiento.fecha
        const isEdit = true
        const nombramientoId = this.nombramiento.id

        this.sending = true
        let {data} = await axios.get(route('check.horario'), {
          params: {
            horario_id,
            fecha,
            isEdit,
            nombramientoId
          }
        })
        this.sending = false
        this.isOverlap = data.exists
      },
      fecha: function (val) {
        axios.get(route("horarios.index"), {
          params: {
            fecha: val
          }
        }).then(response => {
          this.horas = response.data.horarios
          this.nombramiento.horario_id = ""
        }).catch(err => {
          console.log(err.response);
        })
      },
    },
    filters: {
      gender: function (value) {
        return value == "M" ? "HOMBRE" : "MUJER";
      },
      formatDate(value) {
        if (value) {
          return moment(String(value)).format("DD/MM/YYYY")
        }
      }
    },
  }
</script>

<style scoped>
.callout {
  padding: .5rem 1rem .5rem .5rem;
  border-left: 5px solid #eee;
  margin-bottom: 1rem !important;
}

.callout.callout-info {
  background-color: #d4ecf0;
  border-left-color: #117a8b;
}

.callout.callout-warning {
  background-color: #ffd75f;
  border-left-color: #f0ad4e;
}
</style>
