<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <h1 class="mb-3 module-title">{{ title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
          <div class="d-flex w-100">
            <button id="show-filters" class="btn btn-secondary" style="border-top-right-radius: 0!important; border-bottom-right-radius: 0!important;" @click="showFilters = true">
              <div class="d-flex align-items-baseline">
                <span>Filtros</span>
                <svg style="fill: white; width: 8px; height: 8px; margin-left: 1rem" viewBox="0 0 961.243 599.998" xmlns="http://www.w3.org/2000/svg">
                  <path d="M239.998 239.999L0 0h961.243L721.246 240c-131.999 132-240.28 240-240.624 239.999-.345-.001-108.625-108.001-240.624-240z"></path>
                </svg>
              </div>
              <div v-if="showFilters">
                <div style="position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: 99998; background: black; opacity: .2" @click.stop="showFilters = false"/>
                <div
                    ref="dropdown"
                    class="bg-white rounded p-3"
                    style="margin-top: 2.5rem; width: 200px; z-index: 99999; box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);"
                    @click.stop=""
                >
                  <label for="" style="display: block; color: #4a5568; text-align: left">Estatus:</label>
                  <select v-model="form.status" class="form-control w-100">
                    <option value="">Todo</option>
                    <template v-for="estatus in status">
                      <option :value="estatus.value">{{ estatus.label }}</option>
                    </template>
                  </select>
                  <label for="" style="display: block; color: #4a5568; text-align: left">Año:</label>
                  <select v-model="form.year" class="form-control w-100">
                    <option value="">Todo</option>
                    <template v-for="year in years">
                      <option :value="year">{{ year }}</option>
                    </template>
                  </select>
                </div>
              </div>
            </button>
            <input v-model="form.search" class="form-control border-left-0"
                   placeholder="Buscar nombre o número de control"
                   style="border-top-left-radius: 0!important; border-bottom-left-radius: 0!important;"
                   type="text"
            >
          </div>
          <button class="btn btn-info ml-3" @click="reset">Limpiar</button>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <!--<router-link :to="{name: 'nombramientos.create'}" class="btn btn-primary float-right">Iniciar trámite</router-link>-->
        <inertia-link :href="$route('titulaciones.create')" class="btn btn-primary btn-new">Iniciar trámite</inertia-link>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="pt-4">
          <PaginationBar :pagination-data="nombramientos"/>
        </div>
        <div class="card">
          <div class="card-body py-0 px-0">
            <template v-if="!searching">
              <template v-if="nombramientos.data.length > 0">
                <nombramiento-list :nombramientos="nombramientos.data"></nombramiento-list>
              </template>
              <template v-else>
                <div class="d-flex align-items-center p-3">
                  <strong>No se encontraron coincidencias</strong>
                </div>
              </template>
            </template>
            <template v-else>
              <div class="d-flex align-items-center p-3">
                <strong>Espere un momento...</strong>
                <div aria-hidden="true" class="spinner-border ml-auto" role="status"></div>
              </div>
            </template>
          </div>
        </div>
        <div class="pt-4">
          <PaginationBar :pagination-data="nombramientos"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import NombramientoList from "../../../views/nombramientos/components/NombramientoList"
  import throttle from "lodash/throttle"
  import pickBy from "lodash/pickBy"
  import mapValues from "lodash/mapValues"
  import Popper from "popper.js"
  import PaginationBar from "../../../components/common/PaginationBar";

  export default {
    name: "Index",
    components: {
      PaginationBar,
      NombramientoList
    },
    props: {
      nombramientos: Object,
      title: String,
      filters: [Array, Object],
      status: Array
    },
    data() {
      return {
        showFilters: false,
        form: {
          search: this.filters.search,
          status: this.filters.status,
          year: this.filters.year
        },
        searching: false,
        placement: "bottom-start",
        autoClose: false,
        boundary: "scrollParent",
        years: [],
      }
    },
    mounted() {
      document.addEventListener("keydown", (e) => {
        if (e.keyCode === 27) {
          this.showFilters = false
        }
      })

      let actualYear = new Date().getFullYear()
      for (let i = actualYear; i >= 2020; i--) {
        this.years.push(i)
      }
    },
    methods: {
      reset() {
        this.form = mapValues(this.form, () => null)
        this.showFilters = false
      },
    },
    computed: {},
    watch: {
      showFilters(show) {
        if (show) {
          this.$nextTick(() => {
            this.popper = new Popper("#show-filters", this.$refs.dropdown, {
              placement: this.placement,
              modifiers: {
                preventOverflow: { boundariesElement: this.boundary },
              },
            })
          })
        } else if (this.popper) {
          setTimeout(() => {
            this.popper.destroy();
          }, 100)
        }
      },
      form: {
        handler: throttle(async function () {
          let query = pickBy(this.form)
          try {
            this.searching = true
            await this.$inertia.replace(this.$route("titulaciones.index", Object.keys(query).length ? query : { remember: "forget" }))
            this.searching = false
          } catch (e) {
          } finally {
          }
        }, 150),
        deep: true,
      },
    }
  }
</script>

<style lang="scss" scoped>
  .btn-new {

    @media (min-width: 768px) {
      float: right;
    }

  }
</style>
