
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import '~font-awesome/scss/font-awesome';

@import "~noty/src/noty.scss";
@import "~noty/src/themes/relax.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.invalid-field {
  border-color: #dc3545;
}

// stylelint-disable declaration-no-important

//
// Border
//

.border         { border: $border-width solid #EAEAEA !important; }
.border-top     { border-top: $border-width solid #EAEAEA !important; }
.border-right {
  border-right: $border-width solid #EAEAEA !important;
}

.border-bottom {
  border-bottom: $border-width solid #EAEAEA !important;
}

.border-left {
  border-left: $border-width solid #EAEAEA !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.text-indigo {
  color: #0D47A1 !important;
}

.module-title {
  color: #4a5568 !important;
  font-weight: 700;
  font-size: 1.875rem;

  a {
    color: #0D47A1;

    &:hover {
      color: #1E88E5;
    }
  }
}

.pull-right-md {

  @media (min-width: 768px) {
    float: right;
  }

}
