<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h1 class="module-title">Solicitudes</h1>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div>
          <div class="form-row">
            <div class="col">
              <input
                  type="text"
                  class="form-control w-25"
                  placeholder="Buscar alumno"
                  v-model="search.search"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>Número de control</th>
                  <th>Alumno</th>
                  <th>Carrera</th>
                  <th>Adeuda</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="solicitud in solicitudes">
                  <tr>
                    <td>{{ solicitud.alumno.numero_control }}</td>
                    <td>{{ solicitud.alumno.nombre_apellido }}</td>
                    <td>{{ solicitud.alumno.carrera.descripcion }}</td>
                    <td>
                      <YesNoAdeudoButton
                          :solicitud="solicitud"
                          :column="column"
                      />
                    </td>
                    <td>
                      <NoAdeudoObservacion
                          :solicitud="solicitud"
                          :column="column"
                      />
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import YesNoAdeudoButton from "../../components/YesNoAdeudoButton"
  import NoAdeudoObservacion from "../../components/NoAdeudoObservacion"
  import { pickBy, throttle } from "lodash"

  export default {
    name: "NoAdeudos",
    components: { NoAdeudoObservacion, YesNoAdeudoButton },
    props: {
      solicitudes: Array,
      column: String,
      filters: [Array, Object]
    },
    data() {
      return {
        search: {
          search: this.filters.search
        },
      }
    },
    methods: {
      async updateAdeudo(val) {

      }
    },
    computed: {},
    watch: {
      search: {
        handler: throttle(function () {
          let query = pickBy(this.search)
          this.$inertia.get(this.$route("solicitudes.no.adeudos", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true,
      },
    }
  }
</script>

<style scoped>

</style>
