<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Nueva institución
          </div>
          <form @submit.prevent="update">
            <div class="card-body">
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input id="descripcion"
                       v-model="form.descripcion"
                       v-validate="'required'"
                       autofocus
                       class="form-control"
                       name="descripcion"
                       placeholder=""
                       type="text">
                <small class="form-text text-danger">{{ errors.first("descripcion") }}</small>
              </div>
              <div class="form-group">
                <label for="director">Director</label>
                <input id="director"
                       v-model="form.director"
                       v-validate="'required'"
                       class="form-control"
                       name="director"
                       placeholder=""
                       type="text">
                <small class="form-text text-danger">{{ errors.first("director") }}</small>
              </div>
              <div class="form-group">
                <label for="jefe_division">Jefe de la división de estudios</label>
                <input id="jefe_division"
                       v-model="form.jefe_division"
                       v-validate="'required'"
                       class="form-control"
                       name="jefe_division"
                       placeholder=""
                       type="text">
                <small class="form-text text-danger">{{ errors.first("jefe_division") }}</small>
              </div>
            </div>
            <div class="card-footer">
              <inertia-link :href="$route('instituciones.index')" class="btn btn-link">Regresar</inertia-link>
              <button :disabled="sending" class="btn btn-success pull-right">
                <template v-if="sending">Guardando...</template>
                <template v-else>Guardar</template>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Edit",
    components: {},
    props: {
      institucion: Object,
    },
    data() {
      return {
        sending: false,
        form: {
          descripcion: this.institucion.descripcion,
          director: this.institucion.director,
          jefe_division: this.institucion.jefe_division,
        }
      }
    },
    methods: {
      async update() {
        let isValid = await this.$validator.validate()
        this.form._method = "patch"
        if (isValid) {
          this.sending = true
          await this.$inertia.post(this.$route("instituciones.update", this.institucion.id), this.form)
          this.sending = false
          swal("", "La institución se actualizó correctamente", "success")
        }
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
