<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Instituciones
          </div>
          <div class="card-body">
            <inertia-link :href="$route('instituciones.create')" class="btn btn-primary mb-3">Agregar</inertia-link>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Director</th>
                    <th>Jefe de la División de Estudios</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="institucion in instituciones">
                    <td scope="row">{{ institucion.descripcion }}</td>
                    <td>{{ institucion.director }}</td>
                    <td>{{ institucion.jefe_division }}</td>
                    <td>
                      <inertia-link :href="institucion.edit_url">Editar</inertia-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Index",
    components: {},
    props: {
      instituciones: Array,
      create_url: String
    },
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
