<template>
  <div v-if="errors.has(field)" class="invalid-feedback d-block">
    {{ errors.first(field) }}
  </div>
</template>

<script>
  export default {
    name: "ErrorField",
    inject: ["$validator"],
    components: {},
    props: {
      field: String
    },
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
