<template>
  <div class="mt-3">
    <div v-if="$page.props.flash.success && show" class="alert alert-success" role="alert">
      {{ $page.props.flash.success }}
      <button class="close" type="button" @click="show = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="$page.props.flash.error && show" class="alert alert-danger" role="alert">
      <strong>¡Atención!</strong> {{ $page.props.flash.error }}
      <button class="close" type="button" @click="show = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "FlashMessages",
    components: {},
    props: {},
    data() {
      return {
        show: true
      }
    },
    methods: {},
    computed: {},
    watch: {
      "$page.flash": {
        handler() {
          this.show = true
        },
        deep: true,
      },
    },
  }
</script>

<style scoped>

</style>
