<template>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li
                    v-for="page in pages"
                    :key="page"
                    class="page-item"
                    :class="{ 'active': page === currentPage }"
            >
                <inertia-link :href="$route('titulaciones.index', {page:page,...$page.props.filters})"
                              class="page-link">
                    {{ page }}
                </inertia-link>
            </li>
        </ul>
        <span class="d-block text-center">Total: {{ total }}</span>
    </nav>
</template>

<script>
    export default {
        name: "PaginationBar",
        props: {
            paginationData: {
                type: Object,
                required: true
            },
        },
        data() {
            return {}
        },
        computed: {
            total(){
                return this.paginationData.total
            },
            currentPage() {
                return this.paginationData.current_page;
            },
            lastPage() {
                return this.paginationData.last_page;
            },
            nextPageUrl() {
                return this.paginationData.next_page_url;
            },
            prevPageUrl() {
                return this.paginationData.prev_page_url;
            },
            pages() {
                let start = Math.max(1, this.currentPage - 2);
                let end = Math.min(this.lastPage, this.currentPage + 2);
                return Array.from({length: end - start + 1}, (_, i) => i + start);
            },
        },
        methods: {
            goToPage(url) {
                if (url) {
                }
            },
        },
    }
</script>
