<template>
  <div>
    <div class="card">
      <div class="card-header">
        Buscar alumno
      </div>
      <div class="card-body">
        <input v-model="search"
               class="form-control"
               placeholder="Ingresa núm. control, nombre o apellidos"
               type="text"
               autofocus
        >
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table">
          <thead>
            <tr>
              <th>Número de control</th>
              <th>Alumno</th>
              <th>Carrera</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="alumno in alumnos">
              <tr>
                <td scope="row">{{ alumno.numero_control }}</td>
                <td>{{ alumno.nombre_apellido }}</td>
                <td>{{ alumno.carrera.clave_nombre }}</td>
                <td>
                  <button class="btn btn-primary btn-sm" @click="updateStudent(alumno)">Seleccionar</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import throttle from "lodash/throttle"
  import axios from "axios"

  export default {
    name: "SearchStudentCard",
    components: {},
    props: {},
    data() {
      return {
        alumnos: [],
        cancelToken: null,
        search: "",
        searching: false,
        status: 404,
      }
    },
    methods: {
      updateStudent(student) {
        this.alumnos = [];
        this.alumnos.push(student)
        this.$emit("input", student)
      },
    },
    computed: {},
    watch: {
      search: {
        handler: throttle(async function () {
          if (this.cancelToken) {
            this.cancelToken.cancel("Cancel request")
          }

          this.cancelToken = axios.CancelToken.source()

          try {
            this.searching = true

            let { data } = await axios.get(this.$route("api.v1.alumnos.index", { search: this.search }), { cancelToken: this.cancelToken.token })

            this.alumnos = data.alumnos
            this.searching = false

          } catch (thrown) {
            if (axios.isCancel(thrown)) {
              console.log("Request canceled", thrown.message);
            } else {
              this.status = thrown.response.status;
            }
          } finally {
          }
        }, 150)
      },
    }
  }
</script>

<style scoped>

</style>
