<template>
  <input class="form-control"
         placeholder="Ingrese número control, nombre o apellidos"
         type="text"
         @input="updateValue($event.target.value)"
  >
</template>

<script>
  export default {
    name: "SearchStudentInput",
    components: {},
    props: {},
    data() {
      return {}
    },
    methods: {
      updateValue: function (value) {
        this.$emit("input", value)
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
