<template>
  <button type="submit" class="btn btn-success" :disabled="loading">
    <template v-if="loading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </template>
    <template v-else>
      <slot name="button">Guardar</slot>
    </template>
  </button>
</template>

<script>
  export default {
    name: "SubmitButton",
    components: {},
    props: {
      loading: Boolean
    },
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
