<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Carreras convalidadas
          </div>
          <div class="card-body">
            <div class="mb-3">
              <button v-if="!showCreateForm" class="btn btn-primary mb-3" @click="showCreateForm = !showCreateForm">Nueva</button>
              <div v-if="showCreateForm" class="card">
                <div class="card-body">
                  <template v-if="!loading">
                    <ConvalidacionCarreraForm @close="showCreateForm = !showCreateForm" @save="save"/>
                  </template>
                  <template v-else>
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
            </div>
            <div v-for="convalidacion in carreras" class="convalidacion card bg-light mb-3" style="cursor: pointer" @click="convalidacionEdit(convalidacion.id)">
              <div class="card-body">
                <div class="row">
                  <div class="col-5 text-right font-weight-bold align-self-center" style="font-size: 1.5rem">
                    {{ convalidacion.carrera_origen.clave_oficial }}/{{ convalidacion.carrera_origen.descripcion }}
                  </div>
                  <div class="col-2 text-center align-self-center" style="font-size: 1.5rem"><i aria-hidden="true" class="fa fa-arrow-right"></i></div>
                  <div class="col-5 text-left font-weight-bold align-self-center" style="font-size: 1.5rem">
                    {{ convalidacion.carrera_destino.clave_oficial }}/{{ convalidacion.carrera_destino.descripcion }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ConvalidacionCarreraServices from "../../services/ConvalidacionCarreraServices"
  import ConvalidacionCarreraForm from "../../components/ConvalidacionCarreraForm"

  export default {
    name: "Index",
    components: { ConvalidacionCarreraForm },
    props: {},
    data() {
      return {
        loading: false,
        carreras: [],
        showCreateForm: false
      }
    },
    created() {
      this.getData()
    },
    methods: {
      async getData() {
        try {
          this.loading = true
          let { data } = await ConvalidacionCarreraServices.get()
          this.carreras = data.items
        } catch (e) {
        } finally {
          this.loading = false
        }
      },
      convalidacionEdit(id) {
        this.$router.push({ name: "carreras-asignaturas-create", params: { id } })
      },
      async save(payload) {
        try {
          await ConvalidacionCarreraServices.store(payload)
          await this.getData()
        } catch (e) {
        } finally {
        }
      }
    },
    computed: {},
    watch: {}
  }
</script>

<style lang="scss" scoped>
  .convalidacion {
    &:hover {
      background-color: rgba(0, 0, 0, 0.125) !important;
    }
  }
</style>
