<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Tipo de constancia
          </div>
          <div class="card-body">
            <form @submit.prevent="submit">
              <div class="form-group">
                <input type="text"
                       name="descripcion"
                       id="descripcion"
                       class="form-control mr-3"
                       placeholder="Ingrese nuevo tipo"
                       v-model="form.descripcion"
                >
              </div>
              <div class="form-group">
                <div class="custom-file">
                  <input type="file"
                         ref="file"
                         class="custom-file-input"
                         id="customFileLang"
                         lang="es"
                         @change="attachFile()"
                  >
                  <label class="custom-file-label" for="customFileLang">{{ this.form.file_name }}</label>
                </div>
              </div>
              <div class="form-group">
                <label for="">Variables</label>
                <input type="text"
                       class="form-control"
                       v-model="form.variables"
                >
              </div>
              <SubmitButton :loading="sending"/>
            </form>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Descripción</th>
                  <th>Archivo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="tipo in tipos">
                  <tr>
                    <td scope="row">{{ tipo.id }}</td>
                    <td>{{ tipo.descripcion }}</td>
                    <td>{{ tipo.file_name }}</td>
                    <td>Acciones</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SubmitButton from "../../../../components/common/SubmitButton"

  export default {
    name: "Index",
    components: { SubmitButton },
    props: {
      tipos: Array
    },
    data() {
      return {
        sending: false,
        form: {
          descripcion: null,
          file: null,
          file_name: "Seleccionar Archivo",
          variables: ""
        },
        defaultForm: {
          descripcion: null,
          file: null,
          file_name: "Seleccionar Archivo"
        }
      }
    },
    methods: {
      attachFile() {
        this.form.file = this.$refs.file.files[0];
        this.form.file_name = this.form.file.name
      },
      async submit() {
        let data = new FormData();

        data.append("descripcion", this.form.descripcion)
        data.append("file", this.form.file)
        data.append("file_name", this.form.file_name)
        data.append("variables", this.form.variables)

        this.sending = true
        try {
          await this.$inertia.post(this.$route("constancias.catalogos.tipos.contancias.store"), data)
        } catch (e) {
        } finally {
          this.sending = false
          this.form = Object.assign({}, this.defaultForm)
        }
      }
    },
    computed: {},
    watch: {},
  }
</script>

<style scoped>

</style>
