<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Opciones de titulación
          </div>
          <div class="card-body p-0 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Clave</th>
                  <th>Descripción</th>
                  <th class="text-right">Modulos</th>
                  <th class="text-right">Generaciones</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="opcion in opciones">
                  <tr>
                    <td scope="row">{{ opcion.id }}</td>
                    <td>{{ opcion.clave }}</td>
                    <td>{{ opcion.descripcion }}</td>
                    <td class="text-right">{{ opcion.modulos_count }}</td>
                    <td class="text-right">
                      <GeneracionColumn :generaciones="opcion.generaciones"/>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import GeneracionColumn from "./components/GeneracionColumn"

  export default {
    name: "Index",
    components: { GeneracionColumn },
    props: {
      opciones: Array
    },
    data() {
      return {}
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
