<template>
  <div>
    <!--<div class="container mb-4">
      <div class="row">
        <div class="col">
          <nav class="breadcrumb">
            <router-link :to="{name: 'asignaturas-index'}" active-class="active" class="breadcrumb-item" exact>
              Asignaturas
            </router-link>
            <router-link :to="{name: 'carreras-index'}" active-class="active" class="breadcrumb-item" exact>
              Carreras
            </router-link>
          </nav>
        </div>
      </div>
    </div>-->
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">Menú</a>
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/convalidaciones/solicitudes">Solicitudes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/convalidaciones/carreras">Carreras</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/instituciones">Instituciones</a>
                </li>
              </ul>
            </div>
          </nav>

        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: "Home",
    data() {
      return {}
    },
  }
</script>

<style scoped>

</style>
