<template>
  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <SearchStudentCard v-model="alumno"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Crear constancia
          </div>
          <form @submit.prevent="save">
            <div class="card-body">
              <div v-if="!alumno.empty" class="form-row">
                <div class="form-group col" style="font-size: 14px">
                  <div class="p-3" style="background-color: #CEF1DA; border: 1px solid #BAEBCC; border-left-width: 10px!important; border-left-color: #00AAA1!important">
                    <p class="mb-0 font-weight-bold">{{ alumno.nombre_apellido }}</p>
                    <p class="mb-0 text-muted">{{ alumno.numero_control }}</p>
                    <p class="mb-0 text-muted">{{ alumno.carrera.descripcion }}</p>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12 col-md-6">
                  <label for="">Número de oficio</label>
                  <input id="numero_oficio"
                         v-model="form.numero_oficio"
                         v-validate="'required'"
                         class="form-control"
                         name="numero_oficio"
                         type="text"
                  >
                  <ErrorField :field="'numero_oficio'"/>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="">Fecha</label>
                  <input id="fecha"
                         v-model="form.fecha"
                         v-validate="{regex: /(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/ }"
                         class="form-control text-right"
                         name="fecha"
                         placeholder="DD/MM/YYYY"
                         type="text"
                  >
                  <ErrorField :field="'fecha'"/>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12 col-md-6">
                  <label for="">Tipo</label>
                  <select id="tipo_constancia_id"
                          v-model="form.tipo_constancia_id"
                          v-validate="'required'"
                          class="form-control"
                          name="tipo_constancia_id"
                  >
                    <option value="">Seleccione tipo...</option>
                    <template v-for="tipo in tipos">
                      <option :value="tipo.id">{{ tipo.descripcion }}</option>
                    </template>
                  </select>
                  <ErrorField :field="'tipo_constancia_id'"/>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="">Asunto</label>
                  <input id="asunto"
                         v-model="form.asunto"
                         class="form-control"
                         name="asunto"
                         type="text"
                  >
                </div>
              </div>
              <template v-if="variables.length > 0">
                <div class="form-row" v-for="variable in variables">
                  <div class="form-group col-6" v-if="variable !== 'nombreAlumno' && variable !== 'numeroControl' && variable !== 'carrera'">
                    <label for="">{{ variable }}</label>
                    <input type="text"
                           class="form-control"
                           v-model="varForm[variable]"
                           v-validate="'required'"
                           :name="variable"
                    >
                    <ErrorField :field="variable"/>
                  </div>
                </div>
              </template>
            </div>
            <div class="card-footer">
              <inertia-link :href="$route('constancias.index')" class="btn btn-link">Regresar</inertia-link>
              <SubmitButton :loading="sending" class="pull-right"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ErrorField from "../../components/common/ErrorField"
  import SubmitButton from "../../components/common/SubmitButton"
  import SearchStudentCard from "../../components/common/SearchStudentCard"

  export default {
    name: "Create",
    components: { SearchStudentCard, SubmitButton, ErrorField },
    props: {
      tipos: Array,
    },
    data() {
      return {
        cancelToken: null,
        sending: false,
        alumno: { empty: true },
        form: {
          alumno_id: null,
          tipo_constancia_id: "",
          fecha: null,
          numero_oficio: null,
          asunto: null,
        },
        variables: [],
        varForm: {}
      }
    },
    created() {
      this.form.fecha = moment().format("DD/MM/YYYY");
    },
    methods: {
      async save() {
        try {
          this.sending = true
          let isValid = await this.$validator.validate()
          if (isValid) {
            if (this.variables.length > 0) {
              this.form.configuration = this.varForm
            }
            await this.$inertia.post(this.$route("constancias.store"), this.form)
          }
        } catch (e) {
        } finally {
          this.sending = false
        }
      }
    },
    computed: {
      tipoSelected() {
        return this.form.tipo_constancia_id
      }
    },
    watch: {
      alumno: {
        handler(val) {
          this.form.alumno_id = val.id
        },
        deep: true
      },
      tipoSelected(val) {
        this.variables = this.tipos.find(tipo => tipo.id === val).variables ?? []
      }
    }
  }
</script>

<style scoped>

</style>
