<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Constancias
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <form class="form-inline">
                  <SearchStudentInput v-model="form.search" class="mr-2"/>
                  <select id="tipo"
                          v-model="form.tipo"
                          class="form-control mr-3"
                          name="tipo"
                  >
                    <option value="">Seleccione tipo</option>
                    <template v-for="tipo in tipos">
                      <option :value="tipo.id">{{ tipo.descripcion }}</option>
                    </template>
                  </select>
                  <button class="btn btn-light" @click="reset" type="button">Limpiar</button>
                </form>
              </div>
              <div class="col-3">
                <inertia-link :href="$route('constancias.create')" class="btn btn-primary pull-right">Crear</inertia-link>
                <inertia-link :href="$route('constancias.catalogos.tipos.contancias.index')" class="btn btn-secondary pull-right mr-3">Crear tipo</inertia-link>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Núm. Control</th>
                  <th>Alumno</th>
                  <th>Carrera</th>
                  <th>Tipo</th>
                  <th class="text-center">Descargar</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="constancia in constancias">
                  <tr>
                    <td scope="row">{{ constancia.id }}</td>
                    <td>{{ constancia.alumno.numero_control }}</td>
                    <td>{{ constancia.alumno.nombre_apellido }}</td>
                    <td>{{ constancia.alumno.carrera.descripcion }}</td>
                    <td>{{ constancia.tipo.descripcion }}</td>
                    <td class="text-center">
                      <button class="btn btn-primary rounded-pill btn-sm" @click="download(constancia)">
                        <template v-if="downloading">
                          <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                        </template>
                        <template v-else>
                          <i aria-hidden="true" class="fa fa-download"></i>
                        </template>
                      </button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchStudentInput from "../../components/common/SearchStudentInput"
  import mapValues from "lodash/mapValues"
  import pickBy from "lodash/pickBy"
  import throttle from "lodash/throttle"
  import axios from "axios"

  export default {
    name: "Index",
    components: { SearchStudentInput },
    props: {
      constancias: Array,
      tipos: Array,
    },
    data() {
      return {
        downloading: false,
        form: {
          search: "",
          tipo: ""
        }
      }
    },
    methods: {
      async download(constancia) {
        try {
          this.downloading = true
          let response = await axios({
            url: constancia.configuration == null ? `${ this.$route("constancias.download", { id: constancia.id }) }` : `${ this.$route("constancias.custom.download", { id: constancia.id }) }`,
            method: "GET",
            responseType: "blob",
          })

          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");

          fileLink.href = fileURL;
          fileLink.setAttribute("download", `${ constancia.alumno.numero_control }_${ constancia.tipo.descripcion }.docx`);
          document.body.appendChild(fileLink);
          fileLink.click();
        } catch (e) {
          console.log(e)
          console.log(e.response)
        } finally {
          this.downloading = false
        }
      },
      reset() {
        this.form = mapValues(this.form, () => null)
      },
    },
    computed: {},
    watch: {
      form: {
        handler: throttle(function () {
          let query = pickBy(this.form)
          this.$inertia.replace(this.$route("constancias.index", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true,
      },
    },
  }
</script>

<style scoped>

</style>
