<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Datos
                    </div>
                    <div class="card-body">
                        <user-form :user="user" @save="save" :action="'save'"></user-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import userForm from "./components/UserFormComponent";

  export default {
        components: {userForm},
        data() {
            return {
                user: {
                    name: null,
                    email: null,
                    username: null,
                    password: null,
                    selected_roles: []
                }
            }
        },
        methods: {
            save() {
                axios.post(route('usuarios.store'), {
                    usuario: this.user
                })
                    .then(response => {
                        if (response.status == 201) {
                            swal({
                                type: 'success',
                                text: 'El usuario se ha creado correctamente',
                            }).then(result => {
                                if (result.value) {
                                    this.$router.push({name: 'users.index'});
                                }
                            });
                        } else {
                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Lo sentimos, algo ha salido mal intenta de nuevo',
                            })
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
