<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Datos
                    </div>
                    <div class="card-body">
                        <user-form :user="user" @save="save" :action="'edit'"></user-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import userForm from './components/UserFormComponent';

    const getUser = (userId, callback) => {
        axios.get(route('usuarios.show', userId))
            .then(response => {
                callback(null, response.data.usuario);
            })
            .catch(response => {
                console.log(response);
            })
    };

    export default {
        components: {userForm},
        props: ['userId'],
        data() {
            return {
                user: {
                    name: null,
                    email: null,
                    username: null,
                    password: null,
                    selected_roles: []
                },
            }
        },
        beforeRouteEnter(to, from, next) {
            getUser(to.params.userId, (err, user) => {
                next(vm => vm.setData(err, user))
            })
        },
        beforeRouteUpdate(to, from, next) {
            this.users = null;
            getUser(to.params.userId, (err, user) => {
                this.setData(err, user);
                next()
            })
        },
        methods: {
            setData(err, user) {
                if (err) {
                    console.log(user);
                } else {
                    this.user = user;
                }
            },
            save() {
                axios.patch(route('usuarios.update', this.user.id), {
                    usuario: this.user
                })
                    .then(response => {
                        if (response.status == 200) {
                            swal({
                                type: 'success',
                                text: 'El usuario se ha actualizado correctamente',
                            }).then(result => {
                                if (result.value) {
                                    this.$router.push({name: 'users.index'});
                                }
                            });
                        } else {
                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Lo sentimos, algo ha salido mal intenta de nuevo',
                            })
                        }
                    })
                    .catch(response => {
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Lo sentimos, algo ha salido mal intenta de nuevo',
                        })
                        console.log(response);
                    })
            }
        }
    }
</script>

<style scoped>

</style>