<template>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Usuarios
                            <router-link class="btn btn-primary pull-right" :to="{name: 'usuarios.create'}">Nuevo</router-link>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Email</th>
                                            <th>Activo</th>
                                            <th>Roles</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="user in users" :key="user.id">
                                            <td>
                                                <router-link :to="{name:'usuarios.edit', params:{userId:user.id}}">{{ user.name }}</router-link>
                                            </td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.active | castBoolean }}</td>
                                            <td>
                                                <section class="bd-example">
                                                    <span class="badge badge-info" v-for="rol in user.roles" :key="rol.id">{{ rol.descripcion }}</span>
                                                </section>
                                            </td>
                                            <td>
                                                <button-group :user="user"></button-group>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import ButtonGroup from "./components/ButtonGroupComponent"

  const getUsers = (callback) => {
    axios.get(route("usuarios.index"))
        .then(response => {
          callback(null, response.data.users)
        })
        .catch(response => {
          console.log(response);
        })
  };

    export default {
        components: {ButtonGroup},
        data() {
            return {
                users: [],
                error: null,
                loading: false,
            }
        },
        beforeRouteEnter(to, from, next) {
            getUsers((err, users) => {
                next(vm => vm.setData(err, users))
            })
        },
        beforeRouteUpdate(to, from, next) {
            this.users = null
            getUsers((err, users) => {
                this.setData(err, users)
                next()
            })
        },
        methods: {
            setData(err, users) {
                if (err) {
                    this.error = err.toString()
                } else {
                    this.users = users
                }
            }
        },
        filters: {
            castBoolean: function (value) {
                if (!value) return 'No';
                return (value == 1) ? 'Si' : 'No';
            }
        }
    }
</script>

<style scoped>
    .bd-example .badge {
        margin-right: 1rem;
    }
</style>
