<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <div class="card bg-light">
          <div class="card-header">Fechas</div>
          <div class="card-body">
            <form @submit.prevent="search">
              <div class="form-row">
                <div class="col form-group">
                  <label for="">Del:</label>
                  <input v-model="del" class="form-control" type="date">
                </div>
                <div class="col form-group">
                  <label for="">Hasta:</label>
                  <input v-model="al" class="form-control" type="date">
                </div>
                <div class="col form-group mb-0 align-self-center" style="padding-top: .8rem">
                  <button class="btn btn-block btn-primary">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Mostrando titulaciones del <strong>{{ fechaDel }}</strong> al <strong>{{ fechaAl }}&nbsp;&nbsp;</strong>
            <a :href="downloadUrl">
              <i aria-hidden="true" class="fa fa-download"></i>
              Descargar
            </a>
            |
            <a :href="downloadActasUrl">
              <i aria-hidden="true" class="fa fa-download"></i>
              Descargar actas
            </a>
            |
            <a :href="downloadAnexoTres">
              <i aria-hidden="true" class="fa fa-download"></i>
              Descargar anexo tres computo
            </a>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha/Hora</th>
                  <th># Control</th>
                  <th>Grado</th>
                  <th>Nombre</th>
                  <th>Género</th>
                  <th>Carrera</th>
                  <th>Opción</th>
                  <th>Módulo</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="titulacion in titulaciones" :key="titulacion.id">
                  <td>{{ titulacion.fecha|fecha }} - {{ titulacion.horario.hora|hora }}</td>
                  <td>{{ titulacion.alumno.numero_control }}</td>
                  <td>{{ titulacion.alumno.carrera.grado }}</td>
                  <td>{{ titulacion.alumno.nombre_apellido }}</td>
                  <td>{{ titulacion.alumno.sexo }}</td>
                  <td>{{ titulacion.alumno.carrera.descripcion }}</td>
                  <td>{{ titulacion.opcion.clave }} {{ titulacion.opcion.descripcion }}</td>
                  <td>
                    <template v-if="titulacion.modulo_id">
                      {{ titulacion.modulo.descripcion }}
                    </template>
                    <template v-else>
                      NA
                    </template>
                  </td>
                  <td>{{ titulacion.proyecto }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require("moment");

  export default {
    data() {
      return {
        del: moment().format("YYYY-MM-DD"),
        al: moment().format("YYYY-MM-DD"),
        titulaciones: []
      }
    },
    filters: {
      fecha(val) {
        return moment(val).format("DD/MM/YYYY")
      },
      hora(val) {
        return val.substr(0, 5);
      }
    },
    computed: {
      fechaDel() {
        return moment(this.del).format("DD/MM/YYYY")
      },
      fechaAl() {
        return moment(this.al).format("DD/MM/YYYY")
      },
      downloadUrl() {
        return "/reportes/nombramientos?del=" + this.del + "&al=" + this.al;
      },
      downloadActasUrl() {
        return "/reportes/actas-titulacion?del=" + this.del + "&al=" + this.al;
      },
      downloadAnexoTres() {
        return "/reportes/anexo-tres-computo?del=" + this.del + "&al=" + this.al;
      }
    },
    created() {
      axios.get(route("estadisticas.titulaciones.index"), {
        params: {
          del: this.del,
          al: this.al
        }
      })
          .then(response => {
            this.titulaciones = response.data.titulaciones;
          })
          .catch(err => {
            console.log(err.response);
          })
    },
    methods: {
      search() {
        axios.get(route("estadisticas.titulaciones.index"), {
          params: {
            del: this.del,
            al: this.al
          }
        }).then(response => {
          this.titulaciones = response.data.titulaciones;
        }).catch(err => {
          console.log(err.response);
        })
      },
      download() {
        location.href = "/reportes/nombramientos"
      }
    }

  }
</script>

<style scoped>

</style>
