<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h1 class="module-title">Solicitudes</h1>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div>
          <div class="form-row">
            <div class="col">
              <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar alumno"
                  v-model="search.search"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <button
            class="btn btn-primary float-right"
            @click="$modal.show('create-solicitud')"
        >Agregar
        </button>
        <modal
            name="create-solicitud"
            :adaptive="true"
            :height="'auto'"
            @before-close=""
        >
          <SearchStudentCard v-model="selectedStudent"/>
        </modal>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <modal
            name="modal-observaciones"
            :adaptive="true"
            :height="'auto'"
            @before-close="closeObservaciones"
        >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Observaciones</h5>
              <div class="form-row">
                <div class="col">
                  <label for="">Financieros</label>
                  <input
                      type="text"
                      class="form-control"
                      :value="selectedItem.observacion_financieros"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="">Extraescolares</label>
                  <input
                      type="text"
                      class="form-control"
                      :value="selectedItem.observacion_extraescolares"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="">Biblioteca</label>
                  <input
                      type="text"
                      class="form-control"
                      :value="selectedItem.observacion_biblioteca"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="">Gestión y vinculación</label>
                  <input
                      type="text"
                      class="form-control"
                      :value="selectedItem.observacion_gestionvinculacion"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="">Depto. académico</label>
                  <input
                      type="text"
                      class="form-control"
                      :value="selectedItem.observacion_deptoacademico"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label for="">División de estudios</label>
                  <input
                      type="text"
                      class="form-control"
                      :value="selectedItem.observacion_divisionestudios"
                  />
                </div>
              </div>
              <div class="form-row mt-3">
                <div class="col">
                  <button
                      class="btn btn-secondary float-right"
                      @click="$modal.hide('modal-observaciones')"
                  >Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </modal>
        <div class="card">
          <div class="card-body table-responsive p-0">
            <ul class="list-group list-group-flush">
              <li
                  class="list-group-item"
                  v-for="solicitud in solicitudes"
              >
                <NoAdeudoListItem
                    :solicitud="solicitud"
                    @showObservaciones="showObservacion"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import NoAdeudoListItem from "../../../components/NoAdeudoListItem"
  import SearchStudentCard from "../../../components/common/SearchStudentCard"
  import { pickBy, throttle } from "lodash"

  export default {
    name: "Index",
    components: { SearchStudentCard, NoAdeudoListItem },
    props: {
      solicitudes: Array,
      filters: [Array, Object]
    },
    data() {
      return {
        search: {
          search: this.filters.search
        },
        selectedStudent: { empty: true },
        selectedItem: { empty: true }
      }
    },
    methods: {
      showObservacion(solicitud) {
        this.selectedItem = Object.assign({}, solicitud)
        this.$modal.show("modal-observaciones")
      },
      closeObservaciones() {
        this.selectedItem = Object.assign({}, { empty: true })
      }
    },
    computed: {},
    watch: {
      async selectedStudent(val) {
        if (val && !val.empty) {
          await this.$inertia.post(this.$route("servicios.escolares.no.adeudos.store"), { alumno_id: val.id })
          this.$modal.hide("create-solicitud")
        }
      },
      search: {
        handler: throttle(function () {
          let query = pickBy(this.search)
          this.$inertia.get(this.$route("servicios.escolares.no.adeudos.index", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true,
      },
    }
  }
</script>

<style scoped>

</style>
