<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <form @submit.prevent="save">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group position-relative">
                    <label for="">Alumno</label>
                    <input id="" v-model="term" class="form-control" name="" placeholder="" type="text">
                  </div>
                  <div v-if="searching" class="spinner-border position-absolute" role="status" style="top:42px; right: 25px; width: 1rem!important; height: 1rem!important;">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              <div v-if="alumnos.length > 0" class="row">
                <div class="col">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Número control</th>
                          <th>Nombre</th>
                          <th>Carrera origen</th>
                          <th>Seleccionar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <template v-for="(alumno, index) in alumnos">
                          <tr>
                            <td scope="row">{{ alumno.numero_control }}</td>
                            <td>{{ alumno.nombre_apellido }}</td>
                            <td>{{ alumno.carrera.descripcion_completa }}</td>
                            <td class="text-center">
                              <template v-if="form.alumno.empty">
                                <i aria-hidden="true" class="fa fa-arrow-circle-right text-success" style="font-size: 1.5rem; cursor: pointer" @click="pickAlumno(index)"></i>
                              </template>
                              <template v-else>
                                <i aria-hidden="true" class="fa fa-times-circle text-danger" style="font-size: 1.5rem; cursor: pointer" @click="resetAlumno"></i>
                              </template>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div v-if="!form.alumno.empty">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="institucion_origen_id">Institución origen</label>
                      <select id="institucion_origen_id"
                              v-model="form.institucion_origen_id"
                              v-validate="'required'"
                              class="form-control"
                              name="institucion_origen_id"
                      >
                        <option value="">Selecciona...</option>
                        <option v-for="institucion in instituciones"
                                :value="institucion.id"
                        >{{ institucion.descripcion }}
                        </option>
                      </select>
                      <p class="form-text text-danger">
                        {{ errors.first("institucion_origen_id") }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="carrera_destino_id">Carrera destino</label>
                      <select id="carrera_destino_id"
                              v-model="form.carrera"
                              v-validate="'required'"
                              class="form-control"
                              name="carrera_destino_id"
                      >
                        <option value="">Seleccione...</option>
                        <option v-for="carrera in carreras" :key="`carrera_${carrera.id}`" :value="carrera">{{ carrera.clave_nombre }}</option>
                      </select>
                      <p class="form-text text-danger">
                        {{ errors.first("carrera_destino_id") }}
                      </p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="institucion_destino_id">Institución destino</label>
                      <select id="institucion_destino_id"
                              v-model="form.institucion_destino_id"
                              v-validate="'required'"
                              class="form-control"
                              name="institucion_destino_id"
                      >
                        <option value="">Selecciona...</option>
                        <option v-for="institucion in instituciones"
                                :value="institucion.id"
                        >{{ institucion.descripcion }}
                        </option>
                      </select>

                      <p class="form-text text-danger">
                        {{ errors.first("institucion_destino_id") }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <inertia-link :href="$route('convalidaciones::solicitudes.index')">Regresar</inertia-link>
              <button :disabled="sending" class="btn btn-success pull-right">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import throttle from "lodash/throttle"
  import axios from "axios"
  import Axios from "axios"

  export default {
    name: "Create",
    components: {},
    props: {
      instituciones: Array,
      carreras: Array,
    },
    data() {
      return {
        term: null,
        alumnos: [],
        cancelToken: null,
        searching: false,
        sending: false,
        form: {
          alumno: { empty: true },
          carrera: "",
          institucion_destino_id: "",
          institucion_origen_id: ""
        },
        defaultForm: {
          alumno: { empty: true },
          carrera: "",
          institucion_destino_id: "",
          institucion_origen_id: ""
        }
      }
    },
    methods: {
      pickAlumno(index) {
        this.form.alumno = this.alumnos[index]
        this.alumnos = [];
        this.alumnos.push(this.form.alumno)
      },
      resetAlumno() {
        this.form = Object.assign({}, this.defaultForm)
      },
      async save() {
        let isValid = await this.$validator.validate()
        if (isValid) {
          let form = {
            alumno_id: this.form.alumno.id,
            carrera_destino_id: this.form.carrera.id,
            institucion_origen_id: this.form.institucion_origen_id,
            institucion_destino_id: this.form.institucion_destino_id,
            status_id: 1
          }
          this.sending = true
          await this.$inertia.post(this.$route("convalidaciones::solicitudes.store"), form)
          this.sending = false
        }
      }
    },
    computed: {},
    watch: {
      term: {
        handler: throttle(async function () {
          if (this.cancelToken) {
            console.log("cancela")
            this.cancelToken.cancel("cancelamela")
          }
          this.cancelToken = Axios.CancelToken.source()
          try {
            this.searching = true
            let { data } = await axios.get(this.$route("convalidaciones::solicitudes.search.alumnos", { term: this.term, }), { cancelToken: this.cancelToken.token });
            this.alumnos = data.alumnos
            this.searching = false
          } catch (thrown) {
            if (axios.isCancel(thrown)) {
              console.log("Request canceled", thrown.message);
            } else {
              // handle error
            }
          } finally {
          }

        }, 150)
      }
    }
  }
</script>

<style scoped>

</style>
