<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Editar
          </div>
          <div class="card-body">
            <h4>{{ solicitud.alumno.nombre_apellido }}</h4>
            <h5 class="mb-4">De: {{ solicitud.alumno.carrera.clave_nombre }} a {{ solicitud.carrera_destino.clave_nombre }}</h5>
            <AsignaturaConvalidadaItem v-for="asignatura in convalidacion.asignaturas_convalidadas"
                                       :key="asignatura.id"
                                       :asignatura-convalidada="asignatura"
                                       :solicitud="solicitud"
            ></AsignaturaConvalidadaItem>
            <!--<div class="row mb-3" v-for="(asignatura, indexOut) in convalidacion.asignaturas_convalidadas">
              <div class="col">
                <div class="row mb-2" v-for="(cursada, index) in asignatura.asignaturas_cursadas">
                  <div class="col align-self-center">
                    <label :for="cursada.id">
                      <input type="checkbox" :id="cursada.id" :value="cursada.id" v-model="form.asignaturasCursadas">
                      {{ cursada.nombre_materia }}
                    </label>
                  </div>
                  <div class="col">
                    <div class="form-group mb-0">
                      <input type="text"
                             class="form-control"
                             :disabled="!form.asignaturasCursadas.includes(cursada.id)"
                             :value="{id: cursada.id, calificacion: 0}"
                             @input="(newCalificacion) => {califi}"
                             placeholder="Calificacion"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col align-self-center">
                {{ asignatura.asignatura_convalidada.nombre_materia }}
              </div>
            </div>-->
          </div>
          <div class="card-body">
            <a :href="$route('convalidaciones::solicitudes.generar.dictamen', solicitud.id)" class="btn btn-primary float-right">
              Generar
            </a>
            <inertia-link :href="$route('convalidaciones::solicitudes.index')" class="btn btn-secondary float-right mr-2">Regresar</inertia-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AsignaturaConvalidadaItem from "./components/AsignaturaConvalidadaItem"

  export default {
    name: "Edit",
    components: { AsignaturaConvalidadaItem },
    props: {
      solicitud: Object,
      convalidacion: Object
    },
    data() {
      return {
        form: {
          asignaturasCursadas: [],
          calificaciones: []
        }
      }
    },
    methods: {},
    computed: {},
    watch: {}
  }
</script>

<style scoped>

</style>
