<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <FlashMessages/>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <h1 class="mb-3 module-title">Solicitudes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mb-3">
        <div class="d-flex">
          <input
              v-model="form.search"
              autofocus
              class="form-control mr-2 w-100"
              placeholder="Busqueda por número de control o nombre o apellidos"
              type="text"
          >
          <button
              class="btn btn-info mr-2"
              @click="reset"
          >Limpiar
          </button>
        </div>
        <label for="with-trashed">
          <input
              type="checkbox"
              v-model="form.with_trashed"
              id="with-trashed"
          >
          Mostrar elminados
        </label>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <inertia-link
            :href="create_url"
            class="btn btn-primary pull-right-md"
        >Iniciar trámite
        </inertia-link>
        <button
            class="btn btn-primary mr-2 pull-right-md"
            @click="downloadExport"
        >
          <template v-if="downloading">
            <span
                aria-hidden="true"
                class="spinner-border spinner-border-sm"
                role="status"
            ></span>
          </template>
          <template v-else>
            <i
                aria-hidden="true"
                class="fa fa-file-excel-o"
            ></i>
          </template>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body p-0">
            <ul
                class="list-group list-group-flush"
                style="font-size: 0.875rem"
            >
              <template v-if="solicitudes.length">
                <template v-for="(solicitud, index) in solicitudes">
                  <li class="list-group-item px-0">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-lg-4 mb-2">
                          <div class="d-flex flex-wrap align-self-center">
                            <span class="font-weight-bold">
                              <inertia-link :href="$route('convalidaciones::solicitudes.edit', solicitud.id)">
                                {{ index + 1 }} {{ solicitud.alumno.nombre_apellido }}
                              </inertia-link>
                            </span>
                            <span class="text-muted w-100">
                              <strong>Número de control:</strong> {{ solicitud.alumno.numero_control }}
                            </span>
                            <span class="text-muted w-100">
                              <strong>Fecha:</strong> {{ solicitud.created_at|formatDate }}
                            </span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-2">
                          <div class="d-flex flex-wrap align-self-center">
                            <span class="w-100 mb-1">
                              <strong>Origen:</strong> {{ solicitud.alumno.carrera.descripcion_completa }}
                            </span>
                            <span class="w-100">
                              <strong>Destino:</strong> {{ solicitud.carrera_destino.clave_nombre }}
                            </span>
                          </div>
                        </div>
                        <div class="col-6 col-md-2 mb-2">
                          <template v-if="solicitud.deleted_at">
                            <span class="badge badge-danger">ELIMINADO</span>
                          </template>
                          <template v-else>
                            <span class="badge badge-info">{{ solicitud.status }}</span>
                          </template>
                        </div>
                        <div class="col-6 col-md-2">
                          <div class="dropdown">
                            <button
                                class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="menu-opciones"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                              Opciones
                            </button>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="menu-opciones"
                            >
                              <template v-if="solicitud.detalles.length > 0">
                                <a
                                    :href="$route('convalidaciones::solicitudes.generar.dictamen', solicitud.id)"
                                    class="dropdown-item"
                                >
                                  <i
                                      aria-hidden="true"
                                      class="fa fa-download mr-2"
                                  ></i> <span>Dictamen</span>
                                </a>
                              </template>
                              <button
                                  class="dropdown-item text-danger"
                                  type="button"
                                  @click="deleteSolicitud(solicitud.id)"
                              >
                                <i
                                    class="fa fa-trash mr-2"
                                    aria-hidden="true"
                                ></i>
                                <span>Eliminar</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </template>
              </template>
              <template v-else>
                <li class="list-group-item px-0">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <p>No se encuentraron solicitudes</p>
                      </div>
                    </div>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import throttle from "lodash/throttle"
  import pickBy from "lodash/pickBy"
  import mapValues from "lodash/mapValues"
  import axios from "axios"

  export default {
    name: "Index",
    components: {},
    props: {
      solicitudes: Array,
      create_url: String,
      filters: Object,
    },
    data() {
      return {
        downloading: false,
        form: {
          search: this.filters.search,
          with_trashed: this.filters.with_trashed
        }
      }
    },
    methods: {
      deleteSolicitud(id) {
        this.$inertia.post(this.$route("convalidaciones::solicitudes.destroy", id), {
          _method: "DELETE"
        })
      },
      reset() {
        this.form = mapValues(this.form, () => null)
      },
      async downloadExport() {
        try {
          this.downloading = true
          let response = await axios({
            url: this.$route("convalidaciones::solicitudes.export"),
            method: "GET",
            responseType: "blob",
          })

          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");

          fileLink.href = fileURL;
          fileLink.setAttribute("download", `solicitudes_convalidacion.xlsx`);
          document.body.appendChild(fileLink);
          fileLink.click();

        } catch (e) {
          console.log(e)
          console.log(e.response)
        } finally {
          this.downloading = false
        }
      }
    },
    computed: {},
    watch: {
      form: {
        handler: throttle(function () {
          let query = pickBy(this.form)
          this.$inertia.replace(this.$route("convalidaciones::solicitudes.index", Object.keys(query).length ? query : { remember: "forget" }))
        }, 150),
        deep: true
      }
    }
  }
</script>

<style scoped>

</style>
